<!-- CASE: is in-progress and incomplete (peer evaluations of user's response) -->
<div id="openassessment__grade" class="openassessment__grade is--incomplete awaiting--peer-evaluations">
    <h2 class="openassessment__grade__title">Your Grade:</h2>

    <div class="openassessment__grade__content">
        <span class="grade__value">Waiting for Peers to Assess Your Response</span>
        <p>Your response is still undergoing peer assessment. After your peers have assessed your response, you'll see their feedback and receive your final grade.</p>
    </div>
</div>