{% spaceless %}
<li id="openassessment__grade" class="openassessment__steps__step step--grade is--incomplete awaiting--peer-evaluations">
    <header class="step__header ui-toggle-visibility__control">
        <h2 class="step__title">
            <span class="wrapper--copy">
                <span class="step__label">Your Grade:</span>
                <span class="grade__value">
                    <span class="grade__value__title">Waiting for Peers to Assess Your Response</span>

                    <p class="grade__value__description">Your response is still undergoing peer assessment. After your peers have assessed your response, you'll see their feedback and receive your final grade.</p>
                </span>
            </span>
        </h2>
    </header>
</li>
{% endspaceless %}
