<!-- CASE: is complete -->
<div id="openassessment__grade" class="openassessment__grade is--complete has--grade">
    <h2 class="openassessment__grade__title">Your Grade:</h2>

    <div class="openassessment__grade__content">
        <span class="grade__value">{{ score.points_earned }}</span> out of <span class="grade__potential">{{ score.points_possible }}</span>
    </div>

    <div class="grade__actions">
        <ul class="list list--actions">
            <li class="list--actions__item">
                <a class="action action--view">View in Courseware</a>
            </li>
        </ul>
    </div>
</div>