{% spaceless %}
<li id="openassessment__grade" class="openassessment__steps__step step--grade is--waiting">
    <header class="step__header ui-toggle-visibility__control">
        <h2 class="step__title">
            <span class="wrapper--copy">
                <span class="step__label">Your Grade:</span>
                <span class="grade__value">
                    <span class="grade__value__title">Waiting for Peers to Assess Your Response</span>
                </span>
            </span>
        </h2>
    </header>

    <div class="ui-toggle-visibility__content">
        <div class="wrapper--step__content">
            <div class="step__content">
                <div class="grade__value__description">
                    <p>Your response is still undergoing peer assessment. After your peers have assessed your response, you'll see their feedback and receive your final grade.</p>
                </div>
            </div>
        </div>
    </div>
</li>
{% endspaceless %}
