<!-- CASE: is in-progress and incomplete (peer responses to assess) -->
<div id="openassessment__grade" class="openassessment__grade is--incomplete awaiting--peer-responses">
    <h2 class="openassessment__grade__title">Your Grade:</h2>

    <div class="openassessment__grade__content">
        <span class="grade__value">Not Completed</span>
        <p>You have not completed the <span class="step">Peer Assessment</span> and <span class="step">Self Assessment</span> steps of this problem.</p>
    </div>
</div>