{% spaceless %}
<li id="openassessment__grade" class="openassessment__steps__step step--grade is--waiting">
    <header class="step__header ui-toggle-visibility__control">
        <h2 class="step__title">
            <span class="wrapper--copy">
                <span class="step__label">Your Grade:</span>
                <span class="grade__value">
                    <span class="grade__value__title">Waiting for Peer Responses to Assess</span>
                </span>
            </span>
        </h2>
    </header>

    <div class="ui-toggle-visibility__content">
        <div class="wrapper--step__content">
            <div class="step__content">
                <div class="grade__value__description">
                    <p>There are currently no responses for you to assess. This should change momentarily. Check back shortly to continue completing this problem. One this and all other steps are completed, you will receive a grade.</p>
                </div>
            </div>
        </div>
    </div>
</li>
{% endspaceless %}
