{% extends "openassessmentblock/self/oa_self_assessment.html" %}
{% load i18n %}

{% block list_item %}
<li id="openassessment__self-assessment" class="openassessment__steps__step step--self-assessment is--incomplete ui-toggle-visibility">
{% endblock %}

{% block title %}
<span class="step__status">
  <span class="step__status__label">{% trans "This step's status" %}:</span>
  <span class="step__status__value">
    <i class="icon fa fa-exclamation-triangle"></i>
    <span class="copy">{% trans "Incomplete" %}</span>
  </span>
</span>
{% endblock %}

{% block body %}
<div class="ui-toggle-visibility__content">
    <div class="wrapper--step__content">

        <div class="step__message message message--incomplete">
            <h3 class="message__title">{% trans "The Due Date for This Step Has Passed" %}</h3>
            <div class="message__content">
                 <p>{% trans "This step is now closed. You can no longer complete a self assessment or continue with this assignment, and you'll receive a grade of Incomplete." %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
