*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Various common editor backups
*.orig
.*.swp

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov
coverage.xml
test_ora2db
test_ora2db-journal

# Bok choy
test/custom_a11y_rules.js
test/acceptance/screenshots/*.png
test/logs/*
test/acceptance/xunit-*

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Sass/Codekit
.sass-cache/
config.codekit

# Sass maps
*.map

# some mac thing
.DS_Store

# PyCharm
.idea

# node
node_modules
npm-debug.log
coverage

# tim-specific
ora2db
storage/*
openassessment/xblock/static/js/fixtures/*.html
test/selenium/screenshots/*

# logging
logs/*.log*
