addons:
  apt:
    packages:
    - nodejs
language: python
sudo: false
python:
  - "2.7"
env:
  - TOXENV=django111
matrix:
  include:
    - python: 2.7
      env: TOXENV=quality
    - python: 2.7
      env: TOXENV=js
before_install:
  - "pip install -U pip"
  - export BOTO_CONFIG=/dev/null
cache:
    directories:
        - $HOME/.cache/pip
install:
  - "pip install tox"
script:
  - tox
branches:
    only:
      - master
after_success:
  coveralls
