language: python
python:
  - "2.7"
env:
  - DJANGO_VERSION=1.4.15
  - DJANGO_VERSION=1.5.10
  - DJANGO_VERSION=1.6.8
install:
  - "pip install coveralls"
  - "pip install -q Django==$DJANGO_VERSION"
  - "make install"
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
script:
  - "make test"
  - "python manage.py makemessages -l eo"
after_success:
  coveralls
