addons:
  apt:
    packages:
      - nodejs

language: python

sudo: false

python:
  - 3.5
  - 3.8

env:
  - TOXENV=django22
  - TOXENV=js
  - TOXENV=quality

before_install:
  - "pip install -U pip"
  - export BOTO_CONFIG=/dev/null

cache:
  directories:
    - $HOME/.cache/pip

install:
  - pip install -r requirements/travis.txt

script:
  - tox

after_success: coveralls

deploy:
  provider: pypi
  user: edx
  distributions: sdist bdist_wheel
  on:
    tags: true
    condition: "$TOXENV = quality"
    python: 3.5
  password:
    secure: F7yrAFt9c56Y/x29pNbI3LMEATc6DPDTqEXs5WDDRwse/JwKe3MSsXRv6ois6JKzWroHQOZu4CKBbtfZ8v4fWv8lT4kwMJzAq8I4tda4qaSWulHiTdefzkR147oW9db2lTAKFOZsV/XUFFsv2sHDK/SQiJ0y+nxTgoMxEILChnw=
