addons:
  apt:
    packages:
    - aspell
    - aspell-en
    - g++
    - gcc
    - git
    - gfortran
    - libblas3gf
    - libblas-dev
    - liblapack3gf
    - liblapack-dev
    - libatlas-base-dev
    - libfontconfig1
    - libmysqlclient-dev
    - libxml2-dev
    - libxslt1-dev
    - nodejs
    - python2.7
    - python2.7-dev
    - python-pip
    - python-software-properties
language: python
sudo: false
python:
  - "2.7"
install:
  - "pip install coveralls"
  - "make install"
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
script:
  - "make test"
  - "python manage.py makemessages -l eo"
branches:
    only:
      - master
after_success:
  coveralls
