include LICENSE
include AUTHORS
include README.rst
include src/openassessment/xblock/static/dist/manifest.json
include src/openassessment/xblock/static/dist/*.js
include src/openassessment/xblock/static/dist/*.css
include src/openassessment/xblock/static/css/*.css
include src/openassessment/xblock/static/css/lib/backgrid/*.css
include src/openassessment/xblock/static/js/openassessment*.js
include src/openassessment/xblock/static/js/lib/backgrid/*.js
recursive-include src/openassessment/xblock/static/js/src *.js
recursive-include src/openassessment/templates *.html *.underscore
recursive-include src/openassessment/locale *.po
recursive-include src/openassessment/locale *.mo
prune .github
prune htmlcov
exclude .coverage coverage.xml
