include LICENSE
include AUTHORS
include README.rst
include setup.cfg
include openassessment/xblock/static/dist/manifest.json
include openassessment/xblock/static/dist/*.js
include openassessment/xblock/static/dist/*.css
include openassessment/xblock/static/css/*.css
include openassessment/xblock/static/css/lib/backgrid/*.css
include openassessment/xblock/static/js/openassessment*.js
include openassessment/xblock/static/js/lib/backgrid/*.js
include requirements/*.in
recursive-include openassessment/xblock/static/js/src *.js
recursive-include openassessment/templates *.html *.underscore
recursive-include openassessment/locale *.po
recursive-include openassessment/locale *.mo
