{% load i18n %}
{% spaceless %}
<div id="oa_ai_editor_wrapper" class="oa_editor_content_wrapper">

    <div id="openassessment_ai_editor_instructions">
        <p>
            Fill in the examples below. Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.
        </p>
    </div>


    <div id="openassessment_ai_editor_selector_and_editor">

        <div id="openassessment_ai_selector_wrapper">

            <div id="openassessment_ai_selector_header">
                <div id="openassessment_ai_editor_upload_buttons">
                    <div id="openassessment_ai_editor_upload_csv" class="openassessment_ai_editor_upload_button">
                        Upload CSV
                    </div>
                    <div id="openassessment_ai_editor_upload_xml" class="openassessment_ai_editor_upload_button">
                        Upload XML
                    </div>
                </div>
                <div id="openassessment_ai_selector_title">
                    <h2>Examples</h2>
                </div>
            </div>
            <ol id="openassessment_ai_example_selector">

                {% for i in "xxxxxxxxxx" %}
                <li class="openassessment_ai_example_selector_item">
                    <h2>Example Name</h2>
                    <div class="openassessment_ai_example_remove_button">
                        <h2>Remove</h2>
                    </div>
                </li>
                {% endfor %}
            </ol>
            <div id="openassessment_ai_selector_add_example">
                Add Example
            </div>
        </div>

        <div id="openassessment_ai_example_editor">
            <div class="openassessment_ai_example_settings">
                <label class="openassessment_ai_example_label_field">
                    Example Label
                    <input type="text">
                </label>
                <h2 class="openassessment_ai_example_total_score">Total Score: 26 / 30</h2>
            </div>
            <div class="openassessment_ai_example_essay_wrapper">
                <textarea class="openassessment_ai_example_essay"></textarea>
            </div>
            <div class="openassessment_ai_example_scored_rubric">
                <div class="openassessment_ai_example_scored_rubric_criterion">
                    <label> Criterion Name
                        <select>
                            <option></option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

{% endspaceless %}
