{% load i18n %}
{% load tz %}
{% spaceless %}
<li class="openassessment_assessment_module_settings_editor" id="oa_peer_assessment_editor">
    <div class="drag-handle action"></div>
    <div class="openassessment_inclusion_wrapper">
        <input type="checkbox" id="include_peer_assessment"
                {% if assessments.peer_assessment %} checked="true" {% endif %}>
        <label for="include_peer_assessment">{% trans "Step: Peer Assessment" %}</label>
    </div>
    <div class="openassessment_assessment_module_editor">
        <p id="peer_assessment_description_closed" class="openassessment_description_closed {% if assessments.peer_assessment %} is--hidden {% endif %}">
            {% trans "Students assess a specified number of other students' responses using the rubric for the assignment." %}
        </p>
        <div id="peer_assessment_settings_editor" class="assessment_settings_wrapper {% if not assessments.peer_assessment %} is--hidden {% endif %}">
            <p class="openassessment_description">
                {% trans "Specify the following values for the peer assessment step." %}
            </p>
            <ul class="list-input settings-list">
                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="peer_assessment_must_grade" class="setting-label">{% trans "Must Grade" %}</label>
                        <input id="peer_assessment_must_grade" class="input setting-input" type="number" value="{{ assessments.peer_assessment.must_grade }}" min="0" max="99">
                    </div>
                    <p class="setting-help">{% trans "Specify the number of peer assessments that each student must complete."%}</p>
                </li>
                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="peer_assessment_graded_by" class="setting-label"> {% trans "Graded By" %}</label>
                        <input id="peer_assessment_graded_by" class="input setting-input" type="number" value="{{ assessments.peer_assessment.must_be_graded_by }}" min="0" max="99">
                    </div>
                    <p class="setting-help">{% trans "Specify the number of students who must assess each response."%}</p>
                </li>
                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="peer_assessment_start_date" class="setting-label">{% trans "Start Date" %}</label>
                        <input
                            id="peer_assessment_start_date"
                            type="text"
                            class="input setting-input"
                            value="{{ assessments.peer_assessment.start|utc|date:"Y-m-d" }}"
                        >
                    </div>
                    <div class="wrapper-comp-setting">
                        <label for="peer_assessment_start_time" class="setting-label">{% trans "Start Time" %}</label>
                        <input
                            id="peer_assessment_start_time"
                            type="text"
                            class="input setting-input"
                            value="{{ assessments.peer_assessment.start|utc|date:"H:i" }}"
                        >
                    </div>
                    <p class="setting-help">{% trans "Enter the date and time when students can begin assessing peer responses." %}</p>
                </li>
                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="peer_assessment_due_date" class="setting-label">{% trans "Due Date" %}</label>
                        <input
                            id="peer_assessment_due_date"
                            type="text"
                            class="input setting-input"
                            value="{{ assessments.peer_assessment.due|utc|date:"Y-m-d" }}"
                        >
                    </div>
                    <div class="wrapper-comp-setting">
                        <label for="peer_assessment_due_time" class="setting-label">{% trans "Due Time" %}</label>
                        <input
                            id="peer_assessment_due_time"
                            type="text"
                            class="input setting-input"
                            value="{{ assessments.peer_assessment.due|utc|date:"H:i" }}"
                        >
                    </div>
                    <p class="setting-help">{% trans "Enter the date and time when all peer assessments must be complete." %}</p>
                </li>
                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="peer_assessment_track_changes" class="setting-label"> {% trans "Track Changes URL" %}</label>
                        <input id="peer_assessment_track_changes" class="input setting-input" type="text" value="{{ assessments.peer_assessment.track_changes }}">
                    </div>
                    <p class="setting-help">{% trans "Specify the URL of the Track Changes library you wish to use. Leave empty to disable."%}</p>
                </li>
            </ul>
        </div>
    </div>
</li>
{% endspaceless %}