{% load i18n %}
{% spaceless %}
<div id="oa_ai_editor_wrapper" class="oa_editor_content_wrapper">

    <div id="openassessment_ai_editor_normal_editing">
        <div id="openassessment_ai_editor_instructions">
            <p>
                Fill in the examples below. Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.
            </p>
        </div>

        <div id="openassessment_ai_editor_selector_and_editor">

            <div id="openassessment_ai_selector_wrapper">

                <div id="openassessment_ai_selector_header">
                    <div id="openassessment_ai_editor_upload_buttons">
                        <div id="openassessment_ai_editor_upload_csv" class="openassessment_ai_editor_upload_button">
                            Upload CSV
                        </div>
                        <div id="openassessment_ai_editor_upload_xml" class="openassessment_ai_editor_upload_button">
                            Upload XML
                        </div>
                    </div>
                    <div id="openassessment_ai_selector_title">
                        <h2>Examples</h2>
                    </div>
                </div>
                <ol id="openassessment_ai_example_selector">
                    {% for example in assessments.ai.examples %}
                    <li class="openassessment_ai_example_selector_item" data-example="{{ example.name }}">
                        <h2 class="openassessment_ai_example_selector_name">{{ example.label }}</h2>
                        <div class="openassessment_ai_example_remove_button">
                            <h2>Remove</h2>
                        </div>
                    </li>
                    {% endfor %}
                </ol>
                <div id="openassessment_ai_selector_add_example">
                    Add Example
                </div>
            </div>

            <div id="openassessment_ai_example_editor">
                <ol id="openassessment_ai_examples">
                    {% for example in assessments.ai.examples %}
                    <li class="openassessment_ai_example" data-example="{{ example.name }}">
                        <div class="openassessment_ai_example_settings">
                            <label class="openassessment_ai_example_label_field">
                                Example Name
                                <input type="text" value="{{ example.label }}">
                            </label>
                            <h2 class="openassessment_ai_example_total_score">Total Score: 26 / 30</h2>
                        </div>
                        <div class="openassessment_ai_example_essay_wrapper">
                            <textarea class="openassessment_ai_example_essay">{{ example.answer }}</textarea>
                        </div>
                        <div class="openassessment_ai_example_scored_rubric">
                            {% for criterion in example.criteria %}
                            <div class="openassessment_ai_example_scored_rubric_criterion">
                                <label> {{ criterion.label }}
                                    <select value="{{ criterion.option_selected }}" data-criterion="{{ criterion.name }}">
                                        {% for option in criterion.options %}
                                            <option class="openassessment_ai_example_criterion_option" data-criterion="{{ criterion.name }}" value="{{ option.name }}"
                                                    {% if option.name == criterion.option_selected %} selected {% endif %}>
                                                {{ option.label }} - {{ option.points }} points
                                            </option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </li>
                    {% endfor %}
                </ol>


            </div>
        </div>
    </div>

    <ol id="openassessment_ai_example_selector_item_template" class="is--hidden">
        <li class="openassessment_ai_example_selector_item" data-example="{{ example.name }}">
            <h2 class="openassessment_ai_example_selector_name">--New Example--</h2>
            <div class="openassessment_ai_example_remove_button">
                <h2>Remove</h2>
            </div>
        </li>
    </ol>

    <ol id="openassessment_ai_example_template" class="is--hidden">
        {% with example as assessments.ai.template %}
            <li class="openassessment_ai_example" data-example="{{ example.name }}">
                <div class="openassessment_ai_example_settings">
                    <label class="openassessment_ai_example_label_field">
                        Example Name
                        <input type="text" value="{{ example.label }}">
                    </label>
                    <h2 class="openassessment_ai_example_total_score">Total Score: 26 / 30</h2>
                </div>
                <div class="openassessment_ai_example_essay_wrapper">
                    <textarea class="openassessment_ai_example_essay">{{ example.answer }}</textarea>
                </div>
                <div class="openassessment_ai_example_scored_rubric">
                    {% for criterion in example.criteria %}
                    <div class="openassessment_ai_example_scored_rubric_criterion">
                        <label> {{ criterion.label }}
                            <select value="{{ criterion.option_selected }}" data-criterion="{{ criterion.name }}">
                                {% for option in criterion.options %}
                                <option class="openassessment_ai_example_criterion_option" data-criterion="{{ criterion.name }}" value="{{ option.name }}"
                                {% if option.name == criterion.option_selected %} selected {% endif %}>
                                {{ option.label }} - {{ option.points }} points
                                </option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </li>
        {% endwith %}
    </ol>


    <div id="openassessment_ai_editor_import_sub_modal" class="is--hidden">
        <div id="openassessment_ai_editor_sub_modal_header">

        </div>
        <div id="openassessment_ai_editor_sub_modal_instructions">

        </div>
        <div id="openassessment_ai_editor_sub_modal_file_upload">

        </div>
        <div id="openassessment_ai_editor_sub_modal_file_status">

        </div>
        <div id="openassessment_ai_editor_sub_modal_buttons">
            <div id="openassessment_ai_editor_sub_modal_save">
                Save
            </div>
            <div id="openassessment_ai_editor_sub_modal_cancel">
                Cancel
            </div>
        </div>
    </div>
</div>

{% endspaceless %}
