{% load i18n %}
{% load tz %}
{% spaceless %}
<li class="openassessment_assessment_module_settings_editor" id="oa_self_assessment_editor">
    <div class="drag-handle action"></div>
    <div class="openassessment_inclusion_wrapper">
        <input id="include_self_assessment" type="checkbox"
                {% if assessments.self_assessment %} checked="true" {% endif %}>
        <label for="include_self_assessment">{% trans "Step: Self Assessment" %}</label>
    </div>
    <div class="openassessment_assessment_module_editor">
        <p id="self_assessment_description_closed" class="openassessment_description_closed {% if assessments.self_assessment %} is--hidden {% endif %}">
            {% trans "Learners assess their own responses using the rubric for the assignment." %}
        </p>
        <div id="self_assessment_settings_editor" class="assessment_settings_wrapper {% if not assessments.self_assessment %} is--hidden {% endif %}">
            <p class="openassessment_description">
                {% trans "Specify start and due dates for the self assessment step." %}
            </p>
            <ul class="list-input settings-list">
                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="self_assessment_start_date" class="setting-label">{% trans "Start Date" %}</label>
                        <input
                            id="self_assessment_start_date"
                            type="text"
                            class="input setting-input"
                            value="{{ assessments.self_assessment.start|utc|date:"Y-m-d" }}"
                        >
                    </div>
                    <div class="wrapper-comp-setting">
                        <label for="self_assessment_start_time" class="setting-label">{% trans "Start Time" %}</label>
                        <input
                            id="self_assessment_start_time"
                            type="text"
                            class="input setting-input"
                            value="{{ assessments.self_assessment.start|utc|date:"H:i" }}"
                        >
                    </div>
                    <p class="setting-help">{% trans "Enter the date and time when learners can begin assessing their responses." %}</p>
                </li>
                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label for="self_assessment_due_date" class="setting-label">{% trans "Due Date" %}</label>
                        <input
                            id="self_assessment_due_date"
                            type="text"
                            class="input setting-input"
                            value="{{ assessments.self_assessment.due|utc|date:"Y-m-d" }}"
                        >
                    </div>
                    <div class="wrapper-comp-setting">
                        <label for="self_assessment_due_time" class="setting-label">{% trans "Due Time" %}</label>
                        <input
                            id="self_assessment_due_time"
                            type="text"
                            class="input setting-input"
                            value="{{ assessments.self_assessment.due|utc|date:"H:i" }}"
                        >
                    </div>
                    <p class="setting-help">{% trans "Enter the date and time when all self assessments must be complete." %}</p>
                </li>
            </ul>
        </div>
    </div>
</li>
{% endspaceless %}
