{% load i18n %}
{% spaceless %}
<li class="openassessment_assessment_module_settings_editor" id="oa_staff_assessment_editor">
    <div class="drag-handle action"></div>
    <div class="openassessment_inclusion_wrapper">
        <input type="checkbox" id="include_staff_assessment"
            {% if assessments.staff_assessment.required %} checked="true" {% endif %}>
        <label for="include_staff_assessment">{% trans "Step: Staff Assessment" %}</label>
    </div>
    <div class="openassessment_assessment_module_editor">
        <p class="openassessment_description">
            {% trans "Staff members assess learners' responses using the rubric for the assignment." %}
        </p>
    </div>
</li>
{% endspaceless %}
