{% load i18n %}
{% spaceless %}
<div id="openassessment__message" class="openassessment__message message">
    <h3 class="message__title">
        {% if self_not_released %}
            {% trans "The Period For Self Evaluation Has Not Started" %}
        {% elif has_peer %}
            {% trans "Your Response Has Been Submitted For Peer Assessment" %}
        {% else %}
            {% trans "Your Response Is Ready For Self Assessment" %}
        {% endif %}
    </h3>
    <div class="message__content">
        <p>
            {% if self_not_released %}
                {% trans "Check back later when the assessment period has opened." %}
            {% else %}
                {% if self_approaching %}
                        <strong> {% trans "Self evaluation of this assignment will close soon. " %} </strong>
                {% endif %}
                {% if has_peer %}
                    {% blocktrans with start_tag = '<a data-behavior="ui-scroll" href="#openassessment__self-assessment">'|safe end_tag = '</a>'|safe %}
                          You'll receive your grade after the required number of your peers have assessed your response and you complete the {{ start_tag }}self assessment{{ end_tag }} step.
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans with start_tag = '<a data-behavior="ui-scroll" href="#openassessment__self-assessment">'|safe end_tag = '</a>'|safe %}
                          You'll receive your grade after you complete the {{ start_tag }}self assessment{{ end_tag}} step.
                    {% endblocktrans %}
                {% endif %}
            {% endif %}
        </p>
    </div>
</div>
{% endspaceless %}
