{% load i18n %}
{% spaceless %}
<div id="openassessment__message" class="openassessment__message message">
    <h3 class="message__title">
        {% if waiting %}
            {% trans "Waiting for Peer Submissions" %}
        {% elif peer_not_released %}
            {% trans "The Period For Peer Evaluation Has Not Started" %}
        {% else %}
            {% trans "Your Response Has Been Submitted For Peer Assessment" %}
        {% endif %}
    </h3>
    <div class="message__content">
        <p>
            {% if peer_not_released %}
                {% trans "Check back later when the assessment period has opened." %}
            {% else %}
                {% if peer_approaching %}
                    <strong> {% trans "Peer evaluation of this assignment will close soon. " %} </strong>
                {% endif %}
                {% if waiting %}
                    {% trans "All submitted peer responses have been assessed. Check back later to see if more learners have submitted responses. " %}
                {% endif %}
                {% if has_self %}
                    {% blocktrans with peer_start_tag='<a data-behavior="ui-scroll" href="#openassessment__peer-assessment">'|safe self_start_tag='<a data-behavior="ui-scroll" href="#openassessment__self-assessment">'|safe end_tag='</a>'|safe %}
                          You'll receive your grade after you complete the {{ peer_start_tag }}peer assessment{{ end_tag }} and {{ self_start_tag }}self assessment{{ end_tag }} steps, and after your peers have assessed your response.
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans with start_tag='<a data-behavior="ui-scroll" href="#openassessment__peer-assessment">'|safe end_tag='</a>'|safe %}
                        You'll receive your grade after you complete the {{ start_tag }}peer assessment{{ end_tag }} step.
                    {% endblocktrans %}
                {% endif %}
            {% endif %}
        </p>
    </div>
</div>
{% endspaceless %}
