{% load i18n %}
{% spaceless %}
<div id="openassessment__message" class="openassessment__message message">
    <h3 class="message__title">{% trans "You Have Completed This Assignment" %} </h3>
    <div class="message__content">
        <p>
            {% if waiting == 'peer' %}
                <p>{% trans "Your grade will be available when your peers have completed their assessments of your response." %}</p>
            {% elif waiting == 'example-based' %}
                <p>{% trans "Your grade will be available when the example based assessment of your response has been generated." %}</p>
            {% elif waiting == 'all' %}
                <p>{% trans "Your grade will be available when your peers have completed their assessments of your response, and an example based assessment of your response has been generated." %}</p>
            {% else %}
                <a data-behavior="ui-scroll" href="#openassessment__grade">{% trans "Review your grade and your assessment details." %}</a>
            {% endif %}
        </p>
    </div>
</div>
{% endspaceless %}
