# Packages we need in order to build the docs, separated out so that rtfd.org
# can install them.

sphinx
sphinxcontrib-napoleon
markupsafe

# need to install requirements for application, in order to import Python code
-r ../../../requirements/base.txt
