{% load i18n %}
{% spaceless %}
<div id="oa_ai_editor_wrapper" class="oa_editor_content_wrapper">

    <div id="openassessment_ai_editor_normal_editing">
        <div id="openassessment_ai_editor_instructions">
            <p>
                Fill in the examples below. Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.
            </p>
        </div>

        <div id="openassessment_ai_editor_menu_and_editor">
            <div id="openassessment_ai_menu_wrapper">
                <div id="openassessment_ai_menu_header">
                    <div id="openassessment_ai_editor_upload_buttons">
                        <div id="openassessment_ai_editor_upload_csv" class="openassessment_ai_editor_upload_button">
                            Upload CSV
                        </div>
                        <div id="openassessment_ai_editor_upload_xml" class="openassessment_ai_editor_upload_button">
                            Upload XML
                        </div>
                    </div>
                    <div id="openassessment_ai_menu_title">
                        <h2>Examples</h2>
                    </div>
                </div>
                <ol id="openassessment_ai_example_menu">
                    {% for example in assessments.ai.examples %}
                        {% include 'openassessmentblock/edit/ai/oa_edit_ai_example_menu_item.html' with example=example %}
                    {% endfor %}
                </ol>
                <div id="openassessment_ai_menu_add_example">
                    Add Example
                </div>
            </div>

            <div id="openassessment_ai_example_editor">
                <ol id="openassessment_ai_examples">
                    {% for example in assessments.ai.examples %}
                        {% include 'openassessmentblock/edit/ai/oa_edit_ai_example.html' with example=example %}
                    {% endfor %}
                    <li id="openassessment_ai_editor_import_xml" class="is--hidden openassessment_ai_editor_single_visibility">
                        <h2 id="openassessment_ai_editor_upload_header"> Upload from XML file </h2>
                        <div id="openassessment_ai_editor_upload_instructions">
                            <p>Upload your file using this selector. Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.</p>
                        </div>
                        <div id="openassessment_ai_editor_upload_file_upload">
                            <label>Upload XML File
                                <input type="file">
                            </label>
                        </div>
                        <ol class="openassessment_ai_editor_file_status">
                            <li class="openassessment_ai_editor_file_status_importing">Import File</li>
                            <li class="openassessment_ai_editor_file_status_importing">Parse File</li>
                            <li class="openassessment_ai_editor_file_status_importing">Verify Rubric</li>
                            <li class="openassessment_ai_editor_file_status_importing">Ready for Import</li>
                        </ol>
                        <textarea id="ai_training_examples">{{ assessments.example_based_assessment.examples }}</textarea>
                        <div id="openassessment_ai_editor_upload_warning">
                            <p>Upload your file using this selector. Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.  Lorem ipsum dolce decorum est.</p>
                        </div>
                        <div id="openassessment_ai_editor_sub_modal_buttons">
                            <div id="openassessment_ai_editor_sub_modal_save">Confirm</div>
                            <div id="openassessment_ai_editor_sub_modal_cancel">Cancel</div>
                        </div>
                    </li>

                    <li id="openassessment_ai_example_editor_background" class="openassessment_ai_editor_single_visibility">
                        <h1>No Example Selected</h1>
                        <p>Select an example at the side to edit it in this space. Alternatively, you can create new training examples or import them from an XML document.</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <ol id="openassessment_ai_example_template" class="is--hidden">
        {% include 'openassessmentblock/edit/ai/oa_edit_ai_example.html' with example=assessments.ai.template %}
    </ol>

    <ol id="openassessment_ai_example_menu_item_template" class="is--hidden">
        {% include 'openassessmentblock/edit/ai/oa_edit_ai_example_menu_item.html' with example=assessments.ai.template %}
    </ol>

</div>

{% endspaceless %}
