{% load i18n %}
{% spaceless %}
<div id="oa_ai_editor_wrapper" class="oa_editor_content_wrapper">

    <div id="openassessment_ai_editor_normal_editing">
        <div id="openassessment_ai_editor_instructions">
            <p>
                Example Based Assessment requires that course authors provide a number of graded responses to use as examples to base future assessments on. Use the menu on the left to navigate through the examples that you have made for this purpose, or use one of our upload features.
            </p>
        </div>

        <div id="openassessment_ai_editor_menu_and_editor">
            <div id="openassessment_ai_menu_wrapper">
                <div id="openassessment_ai_menu_header">
                    <div id="openassessment_ai_editor_upload_buttons">
                        <div id="openassessment_ai_editor_upload_xml" class="openassessment_ai_editor_upload_button openassessment_ai_menu_single_visibility is--faded">
                            Upload XML
                        </div>
                        <div id="openassessment_ai_editor_upload_csv" class="openassessment_ai_editor_upload_button openassessment_ai_menu_single_visibility is--faded">
                            Grade Real
                        </div>
                    </div>
                    <div id="openassessment_ai_menu_title">
                        <h2>Examples</h2>
                    </div>
                </div>
                <ol id="openassessment_ai_example_menu">
                    {% for example in assessments.ai.examples %}
                        {% include 'openassessmentblock/edit/ai/oa_edit_ai_example_menu_item.html' with example=example %}
                    {% endfor %}
                </ol>
                <div id="openassessment_ai_menu_add_example">
                    Add Example
                </div>
            </div>

            <div id="openassessment_ai_example_editor">
                <ol id="openassessment_ai_examples">
                    {% for example in assessments.ai.examples %}
                        {% include 'openassessmentblock/edit/ai/oa_edit_ai_example.html' with example=example %}
                    {% endfor %}
                    <li id="openassessment_ai_editor_import_xml" class="is--hidden openassessment_ai_editor_single_visibility">
                        <h1 id="openassessment_ai_editor_upload_header"> Upload from XML file </h1>
                        <div id="openassessment_ai_editor_upload_instructions">
                            <p>Upload your file using the selector below.  Note that the file must be a plain text file (.txt), which is formatted according to the XML specifications for ORA examples.  For more information on that specification, or to see how to download that specification from an existing course, see the documentation. </p>
                        </div>
                        <div id="openassessment_ai_editor_upload_file_upload">
                            <label>Upload XML File
                                <input type="file">
                            </label>
                        </div>
                        <textarea id="ai_training_examples">{{ assessments.example_based_assessment.examples }}</textarea>
                        <div id="openassessment_ai_editor_upload_warning">
                            <p>Warning!  Danger!  If you upload your XML here, it will overwrite the existing definitions!  Make sure that your Rubric is properly assembled before pressing confirm!  It is recommended that you save your work before you upload any Examples for AI Assessment!</p>
                        </div>
                        <div id="openassessment_ai_editor_upload_action_buttons">
                            <div id="openassessment_ai_editor_upload_save">Confirm</div>
                            <div id="openassessment_ai_editor_upload_cancel">Cancel</div>
                        </div>
                    </li>

                    <li id="openassessment_ai_editor_import_csv" class="is--hidden openassessment_ai_editor_single_visibility">
                        <h1>Just Kidding</h1>
                        <p> No Support for basing Example Based Grading off of real student submissions. <bold>YET!</bold></p>
                    </li>

                    <li id="openassessment_ai_example_editor_background" class="openassessment_ai_editor_single_visibility">
                        <h1>No Example Selected</h1>
                        <p>Select an example at the side to edit it in this space. Alternatively, you can create new training examples or import them from an XML document.</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <ol id="openassessment_ai_example_template" class="is--hidden">
        {% include 'openassessmentblock/edit/ai/oa_edit_ai_example.html' with example=assessments.ai.template %}
    </ol>

    <ol id="openassessment_ai_example_menu_item_template" class="is--hidden">
        {% include 'openassessmentblock/edit/ai/oa_edit_ai_example_menu_item.html' with example=assessments.ai.template %}
    </ol>

</div>

{% endspaceless %}
