{% load i18n %}
{% spaceless %}

    <div class="wrapper--staff-assessment">
        <div class="step__instruction">
            <p>{% trans "Override this learner's current grade using the problem's rubric." %}</p>
        </div>

        <div class="step__content">
            <article class="staff-assessment">
                <div class="staff-assessment__display">
                    <header class="staff-assessment__display__header">
                        <h3 class="staff-assessment__display__title">
                            {% if student_username %}
                                {% blocktrans %}
                                    Response for: {{ student_username }}
                                {% endblocktrans %}
                            {% else %}
                                {% trans "Learner Response" %}
                            {% endif %}
                        </h3>
                    </header>

                    {% trans "The learner's response to the question above:" as translated_label %}
                    {% include "openassessmentblock/oa_submission_answer.html" with answer=submission.answer answer_text_label=translated_label %}

                    {% trans "Associated File" as translated_header %}
                    {% include "openassessmentblock/oa_uploaded_file.html" with file_upload_type=file_upload_type file_url=staff_file_url header=translated_header class_prefix="staff-assessment" show_warning="true" %}
                </div>

                <form class="staff-assessment__assessment" method="post">
                    {% include "openassessmentblock/oa_rubric.html" with rubric_type="staff-override" %}
                </form>
            </article>
        </div>

        <div class="step__actions">
            <div class="message message--inline message--error message--error-server" tabindex="-1">
                <h3 class="message__title">{% trans "We could not submit your assessment" %}</h3>
                <div class="message__content"></div>
            </div>

            <ul class="list list--actions">
                <li class="list--actions__item">
                    <button type="submit" class="action action--submit" disabled>
                        {% trans "Submit assessment" %}
                    </button>

                    <div class="staff-override-error"></div>
                </li>
            </ul>
        </div>
    </div>
{% endspaceless %}
