{% load i18n %}
{% load tz %}

<div class="openassessment__student-info staff-info__student__report"
     data-submission-uuid="{{ submission.uuid }}">
{% if submission %}
    <h2 class="title">
        <span class="label">
            {% blocktrans with learner=student_username %}
                Viewing learner: {{ learner }}
            {% endblocktrans %}
        </span>
    </h2>

    <div class="staff-info__status ui-staff__content__section wrapper--ui--collapse staff-info__student__response">
        <div class="ui-staff ui-toggle-visibility is--collapsed">
            <h2 class="staff-info__title ui-staff__subtitle ui-toggle-visibility__control">
                <i class="icon fa fa-caret-right" aria-hidden="true"></i>
                <span>{% trans "Learner's Response" %}</span>
            </h2>
            <div class="ui-toggle-visibility__content">
                {% if workflow_cancellation %}
                    <p>
                        {% if workflow_cancellation.cancelled_by %}
                            {% blocktrans with removed_by_username=workflow_cancellation.cancelled_by removed_datetime=workflow_cancellation.cancelled_at|utc|date:"F j, Y H:i e" %}
                                Learner submission removed by {{ removed_by_username }} on {{ removed_datetime }}
                            {% endblocktrans %}
                        {% else %}
                            {% blocktrans with removed_datetime=workflow_cancellation.cancelled_at|utc|date:"F j, Y H:i e" %}
                                Learner submission removed on {{ removed_datetime }}
                            {% endblocktrans %}
                        {% endif %}
                    </p>
                    <!-- Comments: Reason for Cancellation-->
                    <p>
                        {% blocktrans with comments=workflow_cancellation.comments %}
                            Comments: {{ comments }}
                        {% endblocktrans %}
                    </p>
                {% else %}
                    <div class="wrapper--content">
                        {% trans "The learner's response to the question above:" as translated_label %}
                        {% include "openassessmentblock/oa_submission_answer.html" with answer=submission.answer answer_text_label=translated_label %}

                        {% trans "Associated File" as translated_header %}
                        {% include "openassessmentblock/oa_uploaded_file.html" with file_upload_type=file_upload_type file_url=staff_file_url header=translated_header class_prefix="staff-assessment" show_warning="true" %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if peer_assessments %}
        {% trans "Peer Assessments for This Learner" as translated_title %}
        {% include "openassessmentblock/staff_area/oa_student_info_assessment_detail.html" with class_type="peer" assessments=peer_assessments %}
    {% endif %}

    {% if submitted_assessments %}
        {% trans "Peer Assessments Completed by This Learner" as translated_title %}
        {% include "openassessmentblock/staff_area/oa_student_info_assessment_detail.html" with class_type="submitted" assessments=submitted_assessments %}
    {% endif %}

    {% if self_assessment %}
        {% trans "Learner's Self Assessment" as translated_title %}
        {% include "openassessmentblock/staff_area/oa_student_info_assessment_detail.html" with class_type="self" assessments=self_assessment %}
    {% endif %}

    {% if example_based_assessment %}
        {% trans "Example-Based Assessment" as translated_title %}
        {% include "openassessmentblock/staff_area/oa_student_info_assessment_detail.html" with class_type="example_based" assessments=example_based_assessment %}
    {% endif %}

    {% if staff_assessment %}
        {% trans "Staff Assessment for This Learner" as translated_title %}
        {% include "openassessmentblock/staff_area/oa_student_info_assessment_detail.html" with class_type="staff" assessments=staff_assessment %}
    {% endif %}

    <div class="staff-info__status ui-staff__content__section wrapper--ui--collapse staff-info__student__grade">
        <div class="ui-staff ui-toggle-visibility {% if expanded_view != 'final-grade' %}is--collapsed {% endif %}">
            <h2 class="staff-info__title ui-staff__subtitle ui-toggle-visibility__control">
                <i class="icon fa fa-caret-right" aria-hidden="true"></i>
                <span>{% trans "Learner's Final Grade" %}</span>
            </h2>
            <div class="ui-toggle-visibility__content">
                {% if workflow_status == "done" %}
                    <p>
                    {% with points_earned_string=score.points_earned|stringformat:"s" points_possible_string=score.points_possible|stringformat:"s" %}
                        {% blocktrans with points_earned='<span class="grade__value__earned">'|safe|add:points_earned_string|add:'</span>'|safe points_possible='<span class="grade__value__potential">'|safe|add:points_possible_string|add:'</span>'|safe %}
                            Final grade: {{ points_earned }} out of {{ points_possible }}
                        {% endblocktrans %}
                    {% endwith %}
                    </p>
                {% elif workflow_status == "waiting" %}
                    <p>{% trans "The submission is waiting for assessments." %}</p>
                {% elif workflow_status == "cancelled" %}
                    <p>{% trans "The learner's submission has been removed from peer assessment. The learner receives a grade of zero unless you delete the learner's state for the problem to allow them to resubmit a response." %}</p>
                {% elif workflow_status == None %}
                    <p>{% trans "The problem has not been started." %}</p>
                {% else %}
                    <p>{% trans "The problem has not been completed." %}</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% if not workflow_cancellation %}
        <div class="staff-info__staff-override ui-staff__content__section wrapper--ui--collapse">
            <div class="ui-staff ui-toggle-visibility {% if expanded_view != 'staff-override' %}is--collapsed {% endif %}">
                <h2 class="staff-info__title ui-staff__subtitle ui-toggle-visibility__control">
                    <i class="icon fa fa-caret-right" aria-hidden="true"></i>
                    <span>{% trans "Submit Assessment Grade Override" %}</span>
                </h2>

                <div class="staff-info__staff-override__content ui-toggle-visibility__content">
                    <div class="wrapper--input">
                        {% include "openassessmentblock/staff_area/oa_staff_override_assessment.html" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="staff-info__workflow-cancellation ui-staff__content__section wrapper--ui--collapse">
            <div class="ui-staff ui-toggle-visibility is--collapsed">
                <h2 class="staff-info__title ui-staff__subtitle ui-toggle-visibility__control">
                    <i class="icon fa fa-caret-right" aria-hidden="true"></i>
                    <span>{% trans "Remove Submission From Peer Grading" %}</span>
                </h2>

                <div class="staff-info__cancel-submission__content ui-toggle-visibility__content">
                    <div class="wrapper--input">
                        <form data-submission-uuid="{{ submission.uuid }}">

                            <div class="step__message message message--warning">
                                <h3 class="message__title">{% trans "Caution: This Action Cannot Be Undone" %}</h3>
                                <div class="message__content">{% trans "Removing a learner's submission cannot be undone and should be done with caution." %}</div>
                            </div>

                            <ul class="list list--actions">
                                <li>
                                    <label class="label comments__label">{% trans "Comments:" %}
                                        <textarea class="cancel_submission_comments" value="" maxlength="10000"></textarea>
                                    </label>
                                </li>
                            </ul>
                            <ul class="list list--actions">
                                <li class="list--actions__item">
                                    <button data-submission-uuid="{{ submission.uuid }}"
                                        class="action--submit action--submit-cancel-submission is--disabled">
                                        <span class="copy">{% trans "Remove submission" %}</span>
                                    </button>

                                    <div class="cancel-submission-error"></div>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    </div>
{% else %}
    {% trans "A response was not found for this learner." %}
{% endif %}
</div>
