{% load i18n %}

<div class="staff__grade__control ui-toggle-visibility is--collapsed">
    <header class="staff__grade__header ui-toggle-visibility__control">
        <h3 class="staff__grade__title">
            <span class="wrapper--copy">
                <button class="staff__grade__show-form">{% trans "Staff Assessment" %}</button>
            </span>
        </h3>

        {% block title %}
        <span class="staff__grade__status">
          <span class="staff__grade__value">
            <span class="copy">
                {% blocktrans with ungraded=staff_assessment_ungraded|stringformat:"s" in_progress=staff_assessment_in_progress|stringformat:"s" %}
                    {{ ungraded }} Available and {{ in_progress }} Checked Out
                {% endblocktrans %}
            </span>
          </span>
        </span>
        {% endblock %}
    </header>

    <div class="ui-staff__content__section staff__grade__content ui-toggle-visibility__content">
        <div class="wrapper--input">
            <div class="staff__grade__form--error"></div>
            <div class="staff__grade__form"></div>
        </div>
    </div>
</div>
