{% load i18n %}
{% load tz %}
<div id="openassessment__student-info" class="staff-info__student__report">
    {% if submission %}
    <h2 class="title">
        <span class="label">{% trans "Learner Information" %}</span>
    </h2>

    <div class="staff-info__content ui-staff__content">
        <div class="wrapper--step__content">
            <div class="step__content">
                <h3 class="title">{% trans "Learner Response" %}</h3>
                <div class="student__answer__display__content">
                    {% if workflow_cancellation %}
                        {% blocktrans with removed_by_username=workflow_cancellation.cancelled_by removed_datetime=workflow_cancellation.created_at|utc|date:"N j, Y H:i e" %}
                            Learner submission removed by {{ removed_by_username }} on {{ removed_datetime }}
                        {% endblocktrans %}
                        <br>
                        <!-- Comments: Reason for Cancellation-->
                        {% blocktrans with comments=workflow_cancellation.comments %}
                            Comments: {{ comments }}
                        {% endblocktrans %}
                    {% else %}
                        {% include "openassessmentblock/oa_submission_answer.html" with answer=submission.answer answer_text_label="The learner's response to the question above:" %}
                    {% endif %}
                </div>

                {% if submission.file_url %}
                    <a href="{{ submission.file_url }}" class="submission--file">
                        {% trans "The file associated with this response." %}
                    </a>
                    <span>{%  trans "Caution: This file was uploaded by another course learner and has not been verified, screened, approved, reviewed or endorsed by edX. If you decide to access it, you do so at your own risk." %}</span>
                {% endif %}
            </div>
        </div>

        {% if not workflow_cancellation %}
        <div id="openassessment__staff-info__cancel__submission"
             class="openassessment__staff-info__cancel__submission wrapper--ui-staff wrapper--ui--collapse">
            <div class="ui-staff ui-toggle-visibility is--collapsed">
                <h2 class="staff-info__title ui-staff__title ui-toggle-visibility__control">
                    <i class="icon fa fa-caret-right"></i>
                    <span>{% trans "Remove submission from peer grading" %}</span>
                </h2>

                <div class="staff-info__cancel-submission__content ui-toggle-visibility__content">
                    <div class="ui-staff__content__section">
                        <div class="wrapper--input">

                            <form id="openassessment_staff_cancel_submission_form"
                                  data-submission-uuid="{{ submission.uuid }}">

                                <ul class="list list--actions">
                                    <li>
                                        <div class="has--warnings">
                                            <div class="warning">
                                                {% trans "Caution: Removing a learner's submission cannot be undone." %}
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="staff-info__cancel-submission__comments"
                                               class="label">{% trans "Comments:" %}</label>
                                    </li>
                                    <li>
                                        <textarea
                                                id="staff-info__cancel-submission__comments"
                                                class="cancel_submission_comments"
                                                value=""
                                                maxlength="10000"></textarea>
                                    </li>
                                </ul>
                                <ul class="list list--actions">
                                    <li class="list--actions__item">
                                        <a data-submission-uuid="{{ submission.uuid }}" aria-role="button" href=""
                                           id="submit_cancel_submission" class="action--submit is--disabled">
                                            <span class="copy">{% trans "Remove submission" %}</span>
                                        </a>

                                        <div class="cancel-submission-error"></div>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if peer_assessments %}
        <div class="staff-info__status ui-staff__content__section">
            <h3 class="title">{% trans "Peer Assessments for This Learner" %}</h3>
            {% for assessment in peer_assessments %}
                {% with peer_num=forloop.counter %}
                <h4 class="title--sub"> {% trans "Peer" %} {{ peer_num }}: </h4>
                <table class="staff-info__status__table" summary="{% trans "Assessment" %}">
                    <thead>
                    <tr>
                        <th abbr="Criterion" scope="col">{% trans "Criterion" %}</th>
                        <th abbr="Selected Option" scope="col">{% trans "Selected Option" %}</th>
                        <th abbr="Feedback" scope="col">{% trans "Feedback" %}</th>
                        <th abbr="Points" scope="col">{% trans "Points" %}</th>
                        <th abbr="Points Possible" scope="col">{% trans "Points Possible" %}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for criterion in rubric_criteria %}
                        {% for part in assessment.parts %}
                            {% if part.option.criterion.name == criterion.name %}
                        <tr>
                            <td class="label">{{ criterion.label }}</td>
                            <td class="value">{{ part.option.label }}</td>
                            <td class="value">{{ part.feedback }}</td>
                            <td class="value">{{ part.option.points }}</td>
                            <td class="value">{{ criterion.total_value }}</td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            <h4 class="title--sub">{% trans "Overall Feedback" %}</h4>
            <div class="student__answer__display__content">
                {{ assessment.feedback|linebreaks }}
            </div>
                {% endwith %}
            {%  endfor %}
        </div>
        {% endif %}

        {% if submitted_assessments %}
        <div class="staff-info__status ui-staff__content__section">
            <h3 class="title">{% trans "Peer Assessments Completed by This Learner" %}</h3>
            {% for assessment in submitted_assessments %}
                {% with peer_num=forloop.counter %}
                    <h4 class="title--sub">{% trans "Assessment" %} {{ peer_num }}:</h4>
                    <table class="staff-info__status__table" summary="{% trans "Assessment" %}">
                        <thead>
                        <tr>
                            <th abbr="Criterion" scope="col">{% trans "Criterion" %}</th>
                            <th abbr="Selected Option" scope="col">{% trans "Selected Option" %}</th>
                            <th abbr="Feedback" scope="col">{% trans "Feedback" %}</th>
                            <th abbr="Points" scope="col">{% trans "Points" %}</th>
                            <th abbr="Points Possible" scope="col">{% trans "Points Possible" %}</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for criterion in rubric_criteria %}
                            {% for part in assessment.parts %}
                                {% if part.option.criterion.name == criterion.name %}
                                    <tr>
                                        <td class="label">{{ criterion.label }}</td>
                                        <td class="value">{{ part.option.label }}</td>
                                        <td class="value">{{ part.feedback }}</td>
                                        <td class="value">{{ part.option.points }}</td>
                                        <td class="value">{{ criterion.total_value }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <h4 class="title--sub">{% trans "Overall Feedback" %}</h4>
                    <div class="student__answer__display__content">
                        {{ assessment.feedback|linebreaks }}
                    </div>
                {% endwith %}
            {%  endfor %}
        </div>
        {% endif %}

        {% if self_assessment %}
        <div class="staff-info__status ui-staff__content__section">
            <h3 class="title">{% trans "Learner's Self Assessment" %}</h3>
            <table class="staff-info__status__table" summary="{% trans "Self Assessment" %}">
                <thead>
                <tr>
                    <th abbr="Criterion" scope="col">{% trans "Criterion" %}</th>
                    <th abbr="Selected Option" scope="col">{% trans "Selected Option" %}</th>
                    <th abbr="Points" scope="col">{% trans "Points" %}</th>
                    <th abbr="Points Possible" scope="col">{% trans "Points Possible" %}</th>
                </tr>
                </thead>

                <tbody>
                {% for criterion in rubric_criteria %}
                    {% for part in self_assessment.parts %}
                        {% if part.option.criterion.name == criterion.name %}
                            <tr>
                                <td class="label">{{ criterion.label }}</td>
                                <td class="value">{{ part.option.label }}</td>
                                <td class="value">{{ part.option.points }}</td>
                                <td class="value">{{ criterion.total_value }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if example_based_assessment %}
            <div class="staff-info__status ui-staff__content__section">
                <h3 class="title">{% trans "Example-Based Assessment" %}</h3>
                <table class="staff-info__status__table" summary="{% trans "Example Based Assessment" %}">
                    <thead>
                    <tr>
                        <th abbr="Criterion" scope="col">{% trans "Criterion" %}</th>
                        <th abbr="Selected Option" scope="col">{% trans "Selected Option" %}</th>
                        <th abbr="Points" scope="col">{% trans "Points" %}</th>
                        <th abbr="Points Possible" scope="col">{% trans "Points Possible" %}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for criterion in rubric_criteria %}
                        {% for part in example_based_assessment.parts %}
                            {% if part.option.criterion.name == criterion.name %}
                                <tr>
                                    <td class="label">{{ criterion.label }}</td>
                                    <td class="value">{{ part.option.label }}</td>
                                    <td class="value">{{ part.option.points }}</td>
                                    <td class="value">{{ criterion.total_value }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
    {% else %}
        {% trans "A response was not found for this learner." %}
    {% endif %}
</div>
