{%  extends "openassessmentblock/peer/oa_peer_assessment.html" %}
<!-- CASE: completed -->
{% block list_item %}
<li id="openassessment__peer-assessment" class="openassessment__steps__step step--peer-assessment ui-toggle-visibility is--collapsed">
{% endblock %}

{% block title %}
    <span class="step__status">
      <span class="step__status__label">This step's status:</span>
      <span class="step__status__value">
        <i class="ico fa fa-check"></i>
        <span class="copy">
          <span class="step__status__value--completed">{{ graded }}</span> of
          <span class="step__status__value--required">{{ must_grade }}</span> completed
        </span>
      </span>
    </span>
{% endblock %}

{% block body %}{% endblock %}
