{%  extends "openassessmentblock/peer/oa_peer_assessment.html" %}

{% block list_item %}
<li id="openassessment__peer-assessment" class="openassessment__steps__step step--peer-assessment is--waiting is--empty is--collapsed">
{% endblock %}

{% block title %}
<span class="step__status">
  <span class="step__status__label">This step's status:</span>
  <span class="step__status__value">
    <span class="copy">Waiting for Peers</span>
  </span>
</span>
{% endblock %}

{% block body %}
{% endblock %}
