{%  extends "openassessmentblock/peer/oa_peer_assessment.html" %}

{% block list_item %}
<li id="openassessment__peer-assessment" class="openassessment__steps__step step--peer-assessment is--waiting is--empty is--collapsed">
{% endblock %}

{% block title %}
<span class="step__status">
  <span class="step__status__label">This step's status:</span>
  <span class="step__status__value">
    <span class="copy">
        In Progress
        (<span class="step__status__value--completed">{{ graded }}</span> of
        <span class="step__status__value--required">{{ must_grade }}</span>)
    </span>
  </span>
</span>
{% endblock %}

{% block body %}
<div class="ui-toggle-visibility__content">
    <div class="wrapper--step__content">

        <div class="step__message message message--incomplete">
            <h3 class="message__title">Waiting for more peer responses</h3>

            <div class="message__content">
              <p>There are currently no responses for you to assess. This should change momentarily. Check back shortly to continue completing this problem. One this and all other steps are completed, you will receive a grade.</p>
            </div>
        </div>
    </div>
</div>
{% block body %}
