// openassessment: views - base
// ====================

// NOTES:
// * The basic view and all of its states of the openassessment xblock

// --------------------
// in-view extends
// --------------------
%ui--content--longanswer {
  min-height: ($baseline-v*10);
  max-height: ($baseline-v*15);
  overflow-y: scroll;
}


.wrapper--openassessment {
  position: relative;
}

.openassessment {
  @extend %copy--base;

  // --------------------
  // general
  // --------------------

  // chrome: title
  .openassessment__title {
    @include row();
    margin-bottom: $spacing-bravo;
    border-bottom: ($baseline-v/5) solid $color-decorative-tertiary;
    padding-bottom: $spacing-charlie;
  }

  .openassessment__title--super {
    @extend %hd-charlie;
    display: block;
    margin-bottom: $spacing-delta;

    @include media($bp-m) {
    }

    @include media($bp-ds) {
    }

    @include media($bp-dm) {
    }

    @include media($bp-dl) {
    }

    @include media($bp-dx) {
    }
  }

  .openassessment__title--sub {
    @extend %hd-golf;
    display: block;
    color: $heading-tertiary-color;

    @include media($bp-m) {
    }

    @include media($bp-ds) {
    }

    @include media($bp-dm) {
    }

    @include media($bp-dl) {
    }

    @include media($bp-dx) {
    }
  }

  // steps
  .openassessment__steps {
    @extend %no-list;
    counter-reset: item; // setting counter here
  }

  .openassessment__steps__step {
    margin-bottom: $spacing-bravo;
    border-bottom: ($baseline-v/10) solid $color-decorative-tertiary;
    padding-bottom: $spacing-bravo;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    // step header
    .step__header {
      @extend %trans-opacity;
      @include row();
      opacity: 1.0;

      // STATE: hover
      &:hover {

      }
    }

    // step title/name
    .step__title {

      @include media($bp-ds) {
        @include span-columns(4 of 6);
        vertical-align: middle;
      }

      @include media($bp-dm) {
        @include span-columns(9 of 12);
        vertical-align: middle;
      }

      @include media($bp-dl) {
        @include span-columns(9 of 12);
        vertical-align: middle;
      }

      @include media($bp-dx) {
        @include span-columns(9 of 12);
        vertical-align: middle;
      }

      .step__counter, .wrapper--copy {
        display: inline-block;
        vertical-align: middle;
      }

      // step counter
      .step__counter {

        // increment: show numbers using parent list counter
        &:before {
          @extend %hd-foxtrot;
          @extend %t-weight4;
          content: counter(item, decimal);
          counter-increment: item;
          margin-right: $spacing-delta;
          border-radius: ($baseline-v/10);
          border: 1px solid rgba($heading-color, 0.5);
          padding: $spacing-delta $spacing-charlie;
        }
      }

      .step__label, .step__deadline {
        display: block;
      }

      .step__label {
        @extend %hd-delta;
        @extend %t-weight3;
        @extend %trans-color;
      }

      .step__deadline {
        @extend %hd-hotel;
        @extend %trans-color;
        color: $heading-secondary-color;
      }
    }


    // step status
    .step__status {

      .step__status__value {
        border-radius: ($baseline-v/5);
        padding: ($baseline-v/4) ($baseline-h/4);
        background: $color-secondary;
        color: $white-t;

        @include media($bp-m) {
          display: block;
          margin-top: $spacing-charlie;
        }
      }

      .ico, .copy {
        display: inline-block;
        vertical-align: bottom;
      }

      .ico {
        @extend %t-icon-m;
        display: none; // hiding by default
        margin-right: $spacing-delta;
      }

      .copy {
        @extend %copy-foxtrot;
        @extend %t-titlecase;
      }

      @include media($bp-m) {
        position: relative;
        top: 2px;
      }

      @include media($bp-ds) {
        @include span-columns(2 of 6);
        @include omega();
        margin-top: $spacing-delta;
        text-align: right;
      }

      @include media($bp-dm) {
        @include span-columns(3 of 12);
        @include omega();
        margin-top: $spacing-delta;
        text-align: right;
      }

      @include media($bp-dl) {
        @include span-columns(3 of 12);
        @include omega();
        margin-top: $spacing-delta;
        text-align: right;
      }

      @include media($bp-dx) {
        @include span-columns(3 of 12);
        @include omega();
        margin-top: $spacing-delta;
        text-align: right;
      }
    }

    .step__status__label {
    @extend %text-sr;
    }

    // step instructions
    .step__instruction {
      @extend %copy-delta;
      margin-bottom: $spacing-bravo;
      color: $copy-color;
    }

    // step content
    .step__content {
      margin-bottom: $spacing-bravo;
    }

    // step actions
    .step__actions {
      text-align: right;

      .action--submit {
        @extend %btn--primary;
        @extend %action-delta;
      }
    }

    // STATE: step is collapsed (not focused on)
    &.is--collapsed {

      .step__header {
        opacity: 0.4;

        // STATE: hover
        &:hover {
          opacity: 1.0;
        }
      }
    }

    // STATE: step is expanded (focused)
    &.is--expanded {

      .step__header {
        margin-bottom: $spacing-bravo;
        opacity: 1.0;

        @include media($bp-ds) {
          border-bottom: ($baseline-v/10) solid $color-focused;
          padding-bottom: $spacing-charlie;
        }

        @include media($bp-dm) {
          border-bottom: ($baseline-v/10) solid $color-focused;
          padding-bottom: $spacing-charlie;
        }

        @include media($bp-dl) {
          border-bottom: ($baseline-v/10) solid $color-focused;
          padding-bottom: $spacing-charlie;
        }

        @include media($bp-dx) {
          border-bottom: ($baseline-v/10) solid $color-focused;
          padding-bottom: $spacing-charlie;
        }

        .step__deadline {
          color: $color-focused;
        }
      }

      .step__counter:before, .step__label .step__deadline {
        color: $color-focused;
      }

      .step__counter:before {
        border-color: rgba($color-focused, 0.5);
      }

      .step__status__value {
        background: $color-focused;

        .copy {
          color: $white-t;
        }
      }
    }

    // STATE: step is incomplete
    &.is--incomplete {

    }

    // STATE: step is complete/submitted
    &.is--complete, &.is--submitted {

      .step__counter:before {
        border-color: rgba($color-complete, 0.5);
        color: $color-complete;
      }

      .step__status__value {
        background: $color-complete;

        .ico {
          display: inline-block;
        }

        .copy {
          color: $white-t;
        }
      }
    }

    // STATE: step is saved
    &.is--saved {

      .step__status__value {
        background: $color-primary;

        .copy {
          color: $white-t;
        }
      }
    }
  }


  // --------------------
  // messages
  // --------------------
  .message {


    // CASE: has actions
    &.has-actions {

    }
  }

  // TYPE: warning
  .message--warning {

  }

  // TYPE: confirmation
  .message--confirmation {

  }


  // --------------------
  // problem
  // --------------------
  .wrapper--openassessment__prompt {

  }

  .openassessment__prompt {
    margin-bottom: $spacing-bravo;
  }

  .openassessment__prompt__title {
    @extend %text-sr;
  }

  .openassessment__prompt__copy {
    @extend %copy-bravo;
    color: $copy-lead-color;

    > * {
      margin-bottom: $spacing-bravo;

      &:last-child {
        @extend %wipe-last-child;
      }
    }


    a {
      @extend %link-copy;
    }
  }


  // --------------------
  // response
  // --------------------
  .step--response {

    // response form
    .response__submission {
      padding: $spacing-charlie $spacing-charlie $spacing-bravo $spacing-charlie;
      background: $color-decorative-tertiary;

      .submission__answer {
        margin-bottom: $spacing-charlie;

        label {
          @extend %text-sr;
        }

        textarea {
          @extend %ui--content--longanswer;
          width: 100%;
        }
      }

      .action--submit, .tip {
        display: inline-block;
        vertical-align: middle;
      }

      .action--submit {
        @extend %btn--secondary;
        @extend %action-delta;
        margin-right: $spacing-charlie;
      }

      .tip {
        @extend %copy-epsilon;
        color: $copy-supplemental-color;
      }
    }

    // STATE: displayed response
    .submission__answer__display {
      border: ($baseline-v/10) solid $color-decorative-tertiary;
      border-radius: ($baseline-v/10);
    }

    .submission__answer__display__title {
      @extend %hd-golf;
      @extend %t-weight3;
      padding: $spacing-charlie $spacing-bravo;
      background: $color-decorative-tertiary;
      color: $heading-secondary-color;
    }

    .submission__answer__display__content {
      @extend %copy-charlie;
      @extend %ui--content--longanswer;
      padding: $spacing-bravo;
    }

    // STATE: complete

  }


  // --------------------
  // peer assessment
  // --------------------
  .step--peer-assessment {

  }


  // --------------------
  // self assessment
  // --------------------
  .step--self-assessment {

  }


  // --------------------
  // status
  // --------------------
  .openassessment__grade {
    @include row();
    border-top: ($baseline-v/5) solid $color-decorative-tertiary;
    padding-top: $spacing-bravo;

    .openassessment__grade__title, .openassessment__grade__content {
      display: inline-block;
      vertical-align: top;
    }

    .openassessment__grade__title {
      @extend %hd-delta;
      margin-right: $spacing-bravo;
      color: $heading-tertiary-color;
    }

    .openassessment__grade__content {

      .grade__value {
        @extend %hd-delta;
        margin-bottom: $spacing-charlie;
      }

      .grade__description {
        @extend %copy-delta;
      }
    }

    // CASE: is not started
    &.is--unstarted {

    }

    // CASE: is incomplete
    &.is--incomplete {
    }

    // CASE: is complete
    &.is--complete {
    }
  }


  // --------------------
  // STATE: incomplete
  // --------------------


  // --------------------
  // STATE: waiting
  // --------------------


  // --------------------
  // STATE: complete
  // --------------------

}
