<h3>Submissions for {{ student_id }} > {{ course_id }} > {{ item_id }}:</h3>
{{ error }} <br/>
{{ submissions|length }} total submissions. <br/>
<br/>
<table border=1>
    <th>Student Item</th>
    <th>Attempt Number</th>
    <th>Answer</th>
    <th>Submitted At</th>
    <th>Created At</th>
    {% for submission in submissions%}
        <tr>
            <td>{{ submission.student_item }}</td>
            <td>{{ submission.attempt_number }}</td>
            <td>{{ submission.answer }}</td>
            <td>{{ submission.submitted_at }}</td>
            <td>{{ submission.created_at }}</td>
        </tr>
    {% endfor %}
</table>
