<!-- TEMPLATE: status messages -->


<!-- NOTES:

 * class of message--warning is added message is a warning/notification to user
 * class of message--confirmation is added message is a confirmation to user
 * class of has--actions is added when a message has actions associated with it for user to interact with

 -->


<div class="wrapper wrapper--xblock wrapper--openassessment theme--basic">
    <div class="openassessment" id="openassessment">
        <div class="wrapper--grid">
            <h1 class="openassessment__title">
                <span class="openassessment__title--super">
                    {{ title }}
                </span>

                <span class="openassessment__title--sub">
                    <span class="problem-type problem-type--open-ended-response">Open Ended Response</span>
                    {%  for assessment in rubric_assessments %}
                    +
                    <span class="problem-type problem-type--{{ assessment.type }}">{{ assessment.name }}</span>
                    {% endfor %}
                </span>
            </h1>

            <!--?: may have trouble with aync -->
            <nav class="nav--contents">
                <h2 class="title">Skip to a part of this problem:</h2>

                <ol class="list list--nav">
                    {%  for assessment in rubric_assessments %}
                    <li class="list--nav__item">
                        <a class="action" href="#openassessment__{{ assessment.type }}">{{ assessment.navigation_text }}</a>
                    </li>
                    {% endfor %}
                    <li class="list--nav__item">
                        <a class="action" href="#openassessment__grade">Your grade for this problem</a>
                    </li>
                </ol>
            </nav>

            <!-- STATUS: system messages -->
            <!-- SEE t-messages.html for all cases -->

            <!-- question -->
            <div class="wrapper--openassessment__prompt">
                <article class="openassessment__prompt ui-toggle-visibility">

                    <h2 class="openassessment__prompt__title">Open Assessment Problem</h2>

                    <div class="openassessment__prompt__copy ui-toggle-visibility__content">
                        <p>{{ question }}</p>
                    </div>
                </article>
            </div>

            <!-- steps -->
            <ol class="openassessment__steps" id="openassessment__steps">

                <!-- STEP: response -->
                {% for assessment in rubric_assessments %}
                    <li id="{{ assessment.class_id }}">{{ assessment.title }}</li>
                {% endfor %}

            </ol>

            <!-- STATUS: problem grade -->
            {% include "openassessmentblock/oa_grade.html" %}
        </div>
    </div>
</div>
