{% load i18n %}

<div id="openassessment-edit" class="editor-with-buttons">
    <textarea class="openassessment-editor"></textarea>
    <div class="xblock-actions">
        <h3 class="sr">Actions</h3>
        <ul>
            <li class="action-item">
                <a href="#" class="button action-primary openassessment-save-button">{% trans "Save" %}</a>
            </li>

            <li class="action-item">
                <a href="#" class="button openassessment-cancel-button">{% trans "Cancel" %}</a>
            </li>
        </ul>
    </div>
</div>
