<!-- TEMPLATE: grade status -->


<!-- NOTES:

* class of is--incomplete is added when the problem is in an incomplete state
* class of is--complete is added when problem is successfully completed by user
* class of has--grade is added when a grade (failing or passing) is calculated for user
* classes of needs--* are added when user action is needed
* classes of awaiting--* are added when a user's flow is dependent upon system readiness

-->


<!-- CASE: default/unstarted -->
<div id="openassessment__grade" class="openassessment__grade {{ grade_state.style_class }}">
    <h2 class="openassessment__grade__title">{{ grade_state.title }}</h2>

    <div class="openassessment__grade__content">
        <span class="grade__value">{{ grade_state.value }}</span>
        <p class="grade__description">{{ grade_state.message }}</p>
    </div>
</div>
