{% extends "openassessmentblock/response/oa_response.html" %}
{% load i18n %}

{% block list_item %}
<li id="openassessment__response" class="openassessment__steps__step step--response is--complete ui-toggle-visibility is--collapsed {% if allow_latex %}allow--latex{%endif%}">
{% endblock %}

{% block title %}
<span class="step__status">
  <span class="step__status__label">{% trans "This step's status" %}:</span>
  <span class="step__status__value">
    <i class="icon fa fa-check"></i>
    <span class="copy">{% trans "Complete" %}</span>
  </span>
</span>
{% endblock %}

{% block body %}
<div class="ui-toggle-visibility__content">
    <div class="wrapper--step__content">
        <div class="step__content">
            <article class="submission__answer__display">
                <h3 class="submission__answer__display__title">{% trans "Your Response" %}</h3>

                {% include "openassessmentblock/oa_submission_answer.html" with answer=student_submission.answer answer_text_label="Your response to the question above:" %}

                {% include "openassessmentblock/oa_uploaded_file.html" with file_upload_type=file_upload_type file_url=file_url header="Your Uploaded File" class_prefix="submission__answer" %}
            </article>
        </div>
    </div>
</div>
{% endblock %}
