{% load i18n %}
{% spaceless %}
<div id="openassessment__grade" aria-expanded="true" tabindex="0" class="openassessment__steps__step step--grade is--unstarted">
    <header class="step__header ui-toggle-visibility__control">
        <h2 class="step__title">
            <span class="wrapper--copy">
                <span class="step__label">{% trans "Your Grade" %}:</span>
                <span class="grade__value">
                    <span class="grade__value__title">{% trans "Not Started" %}</span>
                </span>
            </span>
        </h2>
    </header>

    <div class="ui-toggle-visibility__content">
        <div class="wrapper--step__content">
            <div class="step__content">
                <div class="grade__value__description">
                    <p>{% trans "You have not started this problem yet." %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endspaceless %}
