{% load i18n %}
{% spaceless %}
<li id="openassessment__grade" class="openassessment__steps__step step--grade">
    <header class="step__header ui-toggle-visibility__control">
        <h2 class="step__title">
            <span class="wrapper--copy">
                <span class="step__label">{% trans "Your Grade" %}:</span>
                <span class="grade__value">
                    <span class="grade__value__title">{% trans "Waiting for Assessments" %}</span>
                </span>
            </span>
        </h2>
    </header>

    <div class="ui-toggle-visibility__content">
        <div class="wrapper--step__content">
            <div class="step__content">
                <div class="grade__value__description">
                    {% if waiting == 'peer' %}
                        <p>{% trans "Your response is still undergoing peer assessment. After your peers have assessed your response, you'll see their comments and receive your final grade." %}</p>
                    {% elif waiting == 'example-based' %}
                        <p>{% trans "Your response is still undergoing example-based assessment. After your response has been assessed, you'll see the comments and receive your final grade." %}</p>
                    {% elif waiting == 'all' %}
                        <p>{% trans "Your response is still undergoing peer assessment and example-based assessment. After your peers have assessed your response and example-based assessment is complete, you'll see your peers' comments and receive your final grade." %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</li>
{% endspaceless %}
