// openassessment: elements - staff
// ====================

// NOTES:
// * staff-centric UI used for reporting/debugging

.wrapper--xblock {


  // --------------------
  // general: staff UI
  // --------------------
  .wrapper--ui-staff {
    @include single-box-shadow(0, 1px, -2px, 1px, $shadow-d1, inset);
    margin-top: ($baseline-v*2);
    @include border-radius(($baseline-v/10));
    border: 1px solid shade($color-decorative-staff, 25%);
    border-top: ($baseline-v/4) solid $color-decorative-staff;
    padding: $baseline-v ($baseline-h/2);
    background: $staff-bg;
  }

  .ui-staff {

    // CASE: area is collapse/expand friendly
    &.ui-toggle-visibility {

      .staff-info__title__copy {
        @include margin-left(($baseline-h/4));
      }

      // STATE: is collapsed
      &.is--collapsed {

        .ui-staff__content {
          margin-top: 0;
        }

        .staff-info__cancel-submission__content,
        .staff-info__staff-override__content {
          padding: 0;
        }
      }

      .ui-toggle-visibility__content {
        @include margin-left(($baseline-h/4));
        margin-bottom: ($baseline-v/2);
      }
    }
  }

  .ui-staff__title {
    @extend %t-heading;
    color: $copy-staff-color;
  }

  .ui-staff__subtitle {
    @extend %t-subheading;
    @extend %t-strong;
    @include fontSize($f-size-medium);
    // We want to keep the collapsible headers within the staff assessment block blue
    // (because they are being displayed in the LMS color scheme). Unfortunately because of
    // that we need to add an override just for ui-staff_subtitle collapsible items.
    color: $heading-staff-color !important;
    margin-bottom: ($baseline-v/2);

    span {
      font-weight: inherit;
    }
  }

  .staff-info__title__copy {
    @extend %t-strong;
  }

  .ui-staff__content {
    margin-top: $baseline-v;
    color: $copy-staff-color;
  }

  .ui-staff__content__section {
    padding-bottom: ($baseline-v/2);
    @extend %wipe-last-child;
  }

  // --------------------
  // staff debug info
  // --------------------
  // UI - summary (statement)
  .staff-info__summary {

    .label, .value {
      @extend %hd-2;
      display: inline-block;
      vertical-align: center;
      color: $heading-staff-color;
    }

    .label {
      @include margin-right(($baseline-h/4));
    }

    .value {
      @extend %t-strong;
    }
  }

  // UI - status (table)
  .staff-info__status, .staff-info__classifierset {

  }

  .staff-info__status__table, .staff-info__classifierset__table {
    @extend %copy-3;
    @include border-radius(($baseline-v/10));
    word-break: initial;

    .title {
      @extend %hd-2;
      @include text-align(left);
      color: $heading-staff-color;
      margin-bottom: ($baseline-v/2);
    }

    .label {
      color: $heading-staff-color;
    }

    .value {
      @extend %t-strong;
      color: $heading-staff-color;
    }

    th, td {
      border: 1px solid rgba($copy-staff-color, 0.25);
      padding: ($baseline-v/2) ($baseline-h/4);
    }

    th, td[scope] {
      @include text-align(left);

    }

    th {
      @extend %copy-4;
      @extend %t-titlecase;
    }

    thead {

    }

    tbody {

    }
  }

}

// Styling for staff grade tab ("Grade Available Responses").
.ui-staff {
  .staff__grade__control {
    padding: 0 (3*$baseline-h/4);
    border-top: ($baseline-v/4) solid $color-decorative-tertiary;
    background: $bg-content;

    h3.staff__grade__title {
      @include text-align(left);
      @include float(none);
      margin-top: 0 !important;

      display: block;
      width: 100%;

      .staff__grade__label {
        @extend %t-superheading;
        text-transform: none;
        letter-spacing: normal;
      }
    }

    .staff__grade__status {
      display: inline-block;
      margin-top: ($baseline-v/4);

      @include media($bp-dm) {
        margin-top: 0;
        @include float(right);
        position: relative;
        top: -($baseline-v*2);
      }

      @include media($bp-dl) {
        margin-top: 0;
        @include float(right);
        position: relative;
        top: -($baseline-v*2);
      }

      @include media($bp-dx) {
        margin-top: 0;
        @include float(right);
        position: relative;
        top: -($baseline-v*2);
      }

      .staff__grade__value {
        border-radius: ($baseline-v/10);
        padding: ($baseline-v/4) ($baseline-h/4);
        background: $color-decorative-tertiary;
        position: relative;

        @include media($bp-ds) {
          display: block;
        }

        @include media($bp-dm) {
          display: block;
        }

        @include media($bp-dl) {
          display: block;
        }

        @include media($bp-dx) {
          display: block;
        }
      }

      .copy {
        @extend %t-score;
        color: $heading-color;
      }
    }

    .submit_assessment--action {
      display: inline;
    }
  }

  // Override the default color for h3 (for elements that can be toggled).
  .ui-toggle-visibility .ui-toggle-visibility__control .staff__grade__title {
    color: $action-primary-color;
  }
}




// UI - cancel submission (action)
.staff-info__workflow-cancellation {

  .staff-info__cancel-submission__content {

    .comments__label {
      color: $copy-secondary-color;
    }

    .cancel_submission_comments {
      width: 100%;
      min-height: ($baseline-v*5);
      text-align: left;
    }

    .list--actions {
      .action--submit {
        margin: ($baseline-v/2) 0;
      }
    }

  }

}
