// openassessment: utilities - extends
// ====================

// NOTES:
// * these are Sass-placeholders (http://sass-lang.com/documentation/file.SASS_REFERENCE.html#placeholder_selectors_) that are meant for use with just openassessment UI


// --------------------
// typography: subheading
// --------------------
%t-superheading {
  @extend %hd-2;
  @extend %t-strong;
}

%t-heading {
  @extend %hd-4;
  @extend %t-strong;
  @extend %t-titlecase;
}

%t-subheading {
  @extend %hd-4;
  @extend %t-strong;
}

%t-score {
  @extend %copy-4;
  @extend %t-strong;
  @extend %t-titlecase;
}


// --------------------
// UI: section
// --------------------
%ui-section {
  @include transition(all $tmg-f1 ease-in-out);
  @include transform(scale(1.0));
  border-radius: ($baseline-v/10);
  box-shadow: 0 1px 1px $shadow-l1;
  margin-bottom: $baseline-v;
  border: 1px solid $color-decorative-tertiary;
  border-top: ($baseline-v/4) solid $color-decorative-tertiary;
  padding: ($baseline-v/2) ($baseline-h/2);
  background: $bg-content;

  &:last-child {
    margin-bottom: 0;
  }

  // STATE: hover and focus
  &:hover, &:focus {
    @include transform(scale(1.0));
    border-color: $color-decorative-tertiary;
    box-shadow: 0 1px 1px $shadow-l2;
  }

  // STATE: is collapsed
  &.is--collapsed {
    @include transform(scale(0.99));
    box-shadow: 0 1px 1px $shadow-l2;

    &:hover, &:focus {
      @include transform(scale(1.0));
    }
  }

  // STATE: is loading
  &.is--loading {
    @include transform(scale(0.99));
    box-shadow: 0 1px 1px $shadow-l2;
  }

  // STATE: is empty
  &.is--empty {

    &:hover, &:focus {
      @include transform(scale(0.99));
    }
  }

  // STATE: is unavailable
  &.is--unavailable {
    border-top-color: $color-unavailable;

    &:hover, &:focus {
      @include transform(scale(0.99));
    }
  }

  // STATE: is complete
  &.is--complete {
    border-top-color: $color-complete;
  }

  // STATE: is incomplete
  &.is--incomplete {
    border-top-color: $color-incomplete;
  }


  // STATE: has errors
  &.has--error {
    border-top-color: $color-error;
  }

  // STATE: is incomplete
  &.is--closed, &.is--incomplete {
    border-top-color: $color-incomplete;
  }
}

// --------------------
// UI: subsection
// --------------------
%ui-subsection {
  margin-bottom: $baseline-v;
}

%ui-subsection-title {
  margin-bottom: ($baseline-v/2);
  border-bottom: ($baseline-v/10) solid $color-decorative-tertiary;
  padding-bottom: ($baseline-v/2);
}

%ui-subsection-content {

  p {
    margin-bottom: $baseline-v;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// --------------------
// UI: well
// --------------------
%ui-well {
  box-shadow: inset 0 1px 2px 1px $shadow-l1;
  padding: $baseline-v ($baseline-h/2);
  background: $color-decorative-quinternary;
}


// --------------------
// UI: content
// --------------------
%ui-content-longanswer {
  max-height: ($baseline-v*15);
  overflow-y: scroll;
}

// --------------------
// UI: rubric
// --------------------
// rubric question
%ui-rubric-question {
  @include clearfix();
  margin-bottom: ($baseline-v/2);
  @extend %wipe-last-child;

  .question__title {
    border-bottom: ($baseline-v/10) solid $heading-color;
    padding-bottom: ($baseline-v/4);

    .ico {
      display: inline-block;
      vertical-align: middle;
      margin-right: ($baseline-h/8);
    }
  }

  .question__title__copy {
    @extend %t-heading;
    color: $heading-color;
  }
}

//  rubric answers
%ui-rubric-answers {
  margin-top: $baseline-v;
  margin-bottom: $baseline-v;

  .answer {
    @include row();
    @extend %wipe-last-child;
    margin-bottom: ($baseline-v/2);
    border-bottom: ($baseline-v/20) solid $color-decorative-quaternary;
    padding-bottom: ($baseline-v/2);
  }

  .wrapper--input {
    margin-bottom: ($baseline-v/4);

    @include media($bp-ds) {
      @include span-columns(6 of 6);
    }

    @include media($bp-dm) {
      @include span-columns(4 of 12);
      margin-bottom: 0;
    }

    @include media($bp-dl) {
      @include span-columns(4 of 12);
      margin-bottom: 0;
    }

    @include media($bp-dx) {
      @include span-columns(4 of 12);
      margin-bottom: 0;
    }

    .answer__value, .answer__label {
      display: inline-block;
      vertical-align: middle;
    }

    .answer__label {
      @extend %copy-3;
      @extend %t-strong;
      margin-bottom: 0; // FIX: need to reset base label style
      color: $copy-secondary-color;
    }

    .answer__value {
      margin-right: ($baseline-v/2);

      // STATE: checked
      &:checked {

        + .answer__label {
          color: $selected-color;
        }
      }
    }
  }

  .wrapper--metadata {
    display: block;

    @include media($bp-dm) {
      @include span-columns(8 of 12);
      margin-bottom: 0;
    }

    @include media($bp-dl) {
      @include span-columns(8 of 12);
      margin-bottom: 0;
    }

    @include media($bp-dx) {
      @include span-columns(8 of 12);
      margin-bottom: 0;
    }
  }

  .answer__tip, .answer__points {
    display: block;
  }

  .answer__tip {
    margin-bottom: ($baseline-v/2);

    @extend %copy-3;
    margin-right: $baseline-v;
    color: $copy-secondary-color;

    @include media($bp-dm) {
      @include span-columns(6 of 8);
      float: left;
      margin-bottom: 0;
    }

    @include media($bp-dl) {
      @include span-columns(6 of 8);
      float: left;
      margin-bottom: 0;
    }

    @include media($bp-dx) {
      @include span-columns(6 of 8);
      float: left;
      margin-bottom: 0;
    }

    &:after {
      content: "";
    }
  }

  .answer__points {
    @extend %t-score;
    color: $copy-secondary-color;

    @include media($bp-dm) {
      float: right;
      text-align: right;
    }

    @include media($bp-dl) {
      float: right;
      text-align: right;
    }

    @include media($bp-dx) {
      float: right;
      text-align: right;
    }
  }

  .answer__points__label {
    display: inline-block; // FIX: need to reset base label style
    margin-left: ($baseline-v/4);
    color: $copy-secondary-color;
  }
}
