{% extends "openassessmentblock/peer/oa_peer_assessment.html" %}
{% load i18n %}
{% load tz %}


{% block list_item %}
<div id="openassessment__peer-assessment" tabindex="0" class="openassessment__steps__step step--peer-assessment" aria-expanded="false">
{% endblock %}

{% block title %}
<span class="step__status">
  <span class="step__status__label">{% trans "This step's status" %}:</span>
  <span class="step__status__value">
    <i class="ico icon-warning-sign"></i>
    <span class="copy">
        {% trans "Cancelled" %}
    </span>
  </span>
</span>
{% endblock %}

{% block body %}
{% endblock %}
