{%  extends "openassessmentblock/peer/oa_peer_assessment.html" %}
{% load i18n %}

{% block list_item %}
<li id="openassessment__peer-assessment" class="openassessment__steps__step step--peer-assessment ui-toggle-visibility is--empty is--complete is--collapsed">
{% endblock %}

{% block title %}
<span class="step__status">
  <span class="step__status__label">{% trans "This step's status" %}:</span>
  <span class="step__status__value">
    <i class="icon fa fa-check"></i>
    <span class="copy">
      <span class="step__status__value--completed">{{ graded }}</span> {% trans "Completed" %}
    </span>
  </span>
</span>
{% endblock %}

{% block body %}
    <div class="ui-toggle-visibility__content">
        <div class="wrapper--step__content">

            <div class="step__message message message--complete">
                <h3 class="message__title">{% trans "Peer Assessments Complete" %}</h3>
                <div class="message__content">{% trans "You have successfully completed all of the required peer assessments for this assignment. You may assess additional peer responses if you want to. Completing additional assessments will not affect your final grade." %}</div>
            </div>

            <div class="step__actions">
                <div class="message message--inline message--error message--error-server">
                    <h3 class="message__title">{% trans "We could not retrieve additional submissions for assessment" %}</h3>
                </div>

                <ul class="list list--actions">
                    <li class="list--actions__item">
                        <button type="submit" id="peer-assessment__continue__grading" class="action action--continue--grading">
                            <span class="copy">{%  trans "Continue Assessing Peers" %}</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
