{% load i18n %}
{% spaceless %}
<li id="openassessment__leaderboard__{{ xblock_id }}" class="openassessment__steps__step step--leaderboard is--complete ui-slidable__container is--showing {% if allow_latex %} allow--latex{% endif %}" tabindex="-1">
    <header class="step__header ui-slidable__control">
        <h2 class="step__title">
            <button class="ui-slidable" aria-expanded="true" id="oa_leaderboard_{{ xblock_id }}" aria-controls="oa_leaderboard_{{ xblock_id }}_content">
                <span class="wrapper--copy">
                    <span class="step__label">{% trans "Top Responses" %} </span>
                </span>
            </button>
        </h2>
    </header>
    <div class="wrapper--step__content ui-slidable__content" aria-labelledby="oa_leaderboard_{{ xblock_id }}" id="oa_leaderboard_{{ xblock_id }}_content">
        <h3 class="leaderboard__title">{% trans "Top-Scoring Responses for This Assignment" %}</h3>
        <ol class="list leaderboard__score__list">
        {% for topscore in topscores %}
            <li class="leaderboard__score__item">
                <h4 class="leaderboard__list__number">{{ forloop.counter }}</h4>
                {% with num_points=topscore.score %}
                <h4 class="leaderboard__score__title">
                    {% blocktrans %}{{ num_points }} points{% endblocktrans %}
                </h4>
                {% endwith %}
                <div class="leaderboard__answer">
                    {% trans "Your peer's response to the question above:" as translated_label %}
                    {% include "openassessmentblock/oa_submission_answer.html" with answer=topscore.submission.answer answer_text_label=translated_label %}
                    {% include "openassessmentblock/oa_uploaded_file.html" with file_upload_type=file_upload_type file_url=topscore.file class_prefix="submission__answer"%}
                </div>
            </li>
        {% endfor %}
        </ol>
    </div>
</li>
{% endspaceless %}
