.submission__answer__part__text__track-changes-header {
    display: flex;
    align-items: center;
}

input.submission__answer__track-changes-clear-button {
    margin-left: auto;
}

.submission__answer__part__text__value.edited {
    display: none;
}

ins, span.ins {
    background-color: rgb(175, 255, 175);
    text-decoration: none;
    border-radius: 5px;
}
ins:before, ins:after,
span.ins:before, span.ins:after {
    content: "+";
    padding: 0 5px;
}
del, span.del {
    background-color: rgb(255, 175, 175);
    text-decoration: none;
    border-radius: 5px;
    text-decoration: line-through;
}
del:before, del:after,
span.del:before, span.del:after {
    content: "-";
    padding: 0 5px;
}
