{% extends "openassessmentblock/response/oa_response.html" %}

{% block list_item %}
<li id="openassessment__response" class="openassessment__steps__step step--response is--submitted ui-toggle-visibility">
{% endblock %}

{% block title %}
<span class="step__status">
  <span class="step__status__label">This step's status:</span>
  <span class="step__status__value">
    <i class="ico icon-ok"></i>
    <span class="copy">{{ step_status }}</span>
  </span>
</span>
{% endblock %}

{% block body %}
<div class="ui-toggle-visibility__content">
    <div class="step__content">
        <article class="submission__answer__display">
            <h3 class="submission__answer__display__title">Your Submitted Response</h3>

            <div class="submission__answer__display__content">
                {{ student_submission.answer }}
            </div>
        </article>
    </div>
</div>
{% endblock %}
