{%  extends "openassessmentblock/response/oa_response.html" %}
{% block list_item %}
<li id="openassessment__response" class="openassessment__steps__step step--response ui-toggle-visibility is--collapsed">
{% endblock %}

{% block title %}
<span class="step__status">
  <span class="step__status__label">This step's status:</span>
  <span class="step__status__value">
    <i class="ico icon-warning-sign"></i>
    <span class="copy">Closed</span>
  </span>
</span>
{% endblock %}

{% block body %}
<div class="ui-toggle-visibility__content">
  <div class="wrapper--step__content">
    <div class="step__instruction">
        <p>You did not complete this step before the problem's due date.</p>
    </div>
  </div>
</div>
{% endblock %}
