// openassessment: utilities - developer
// ====================

// NOTES:
// * use this area for any developer-needed or created styling that needs to be refactored into patterns or visually polished. Please list any template/view that your styles reference when definining them (example below):

// --------------------
// Views: Error
// --------------------
// .crazy-new-feature {
//   background: transparent;
// }

// --------------------
// Views: Counterbalancing XBlock workbench styling
// --------------------

// --------------------
// Views: Static HTML Page Display
// --------------------
.view--placeholder {
  background: $bg-view;
  margin: ($baseline-v*2) $baseline-h;
}

// --------------------
// Developer styles for Staff Section
// --------------------
.staff-info__status {
  .action--submit {
    @extend %btn--secondary;
    @extend %action-2;
    margin: ($baseline-v/2) ($baseline-v/2) ($baseline-v/2) ($baseline-v/2);
  }
}
.staff-info__student {
  .label {
    color: $heading-staff-color;
    margin-bottom: ($baseline-v/2);
  }

  .action--submit {
    @extend %btn--secondary;
    @extend %action-2;
    margin: ($baseline-v/2) ($baseline-v/2) ($baseline-v/2) ($baseline-v/2);
  }

  .title {
    @extend %hd-2;
    color: $heading-staff-color;
    margin-bottom: ($baseline-v/2);
  }

  .title--sub {
    color: $heading-staff-color;
    margin-top: ($baseline-v/2);
    margin-bottom: ($baseline-v/2);
  }

  .student__answer__display__content {
    border: 1px solid rgba($color-decorative-staff, 0.25);
    padding: ($baseline-v/2) ($baseline-h/2) ($baseline-v/2) ($baseline-h/2);
    margin-bottom: ($baseline-v/2);
  }

  .openassessment__student-info_list {
    list-style-type: none;
  }

  .value {
    width: $max-width/2;
  }

  /**
   * The follow styles are bound for the "shame" file. This is done to override
   * LMS specific styles on HTML elements.
   */

  // 'p' elements in LMS have a color set on them.
  .student__answer__display__content p {
    color: inherit;
  }
}

// --------------------
// Developer Styles for Student Training
// --------------------
.step--student-training {

  // submission
  .student-training__display {
    @extend %ui-subsection;
  }

  .student-training__display__header {
    @include clearfix();
  }

  .student-training__display__title {
    @extend %t-heading;
    margin-bottom: ($baseline-v/2);
    color: $heading-secondary-color;
  }

  .student-training__display__response {
    @extend %ui-subsection-content;
    @extend %copy-3;
    @extend %ui-content-longanswer;
    @extend %ui-well;
    color: $copy-color;
  }

  // assessment form
  .student-training__assessment {

    // fields
    .assessment__fields {
      margin-bottom: $baseline-v;
    }

    // rubric question
    .assessment__rubric__question {
      @extend %ui-rubric-question;
    }

    // rubric options
    .question__answers {
      @extend %ui-rubric-answers;
      overflow: visible; // needed for ui-hints
    }

    // genereal feedback question
    .assessment__rubric__question--feedback {

      textarea {
        @extend %ui-content-longanswer;
        min-height: ($baseline-v*5);
      }
    }
  }

  // TYPE: correct
  .message--correct {
    @extend .message--complete;
    margin-top: $baseline-v;

    &.is--hidden {
      height: 0;
      width: 0;
      padding: 0;
      margin: 0;

      .step__header {
        border-bottom: none;
      }
    }
  }

  // TYPE: incorrect
  .message--incorrect {
    @extend .message--incomplete;
    margin-top: $baseline-v;

    &.is--hidden {
      height: 0;
      width: 0;
      padding: 0;
      margin: 0;

      .step__header {
        border-bottom: none;
      }
    }
  }
}

// --------------------
// Developer Styles for Studio Editing of OA problems
// --------------------

#openassessment-editor {
  margin-bottom: 0;
  height: 100%;

  .openassessment_editor_content_and_tabs {
    width: 100%;
    height: Calc(100% - 97px);
  }

  #openassessment_editor_header{
    background-color: #e5e5e5;
    width: 100%;
    top: 0;
  }

  #oa_editor_window_title{
    float: left;
  }

  .oa_editor_tab{
    float: right;
    padding: ($baseline-v/8) ($baseline-h/8);
    margin: ($baseline-v/8) ($baseline-h/8);
    border-radius: ($baseline-v/4);
    box-shadow: none;
    border: 0;
  }

  .oa_editor_content_wrapper {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    border: 1px solid $edx-gray-d1;
    background-color: #f5f5f5;
    overflow-y: scroll;
  }

  #openassessment_prompt_editor {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-family: $f-sans-serif;

    textarea{
      font-size: 14px;
      border: none;
      overflow: auto;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }

  #openassessment_rubric_editor {
    width: 100%;
    height: 100%;
  }

  #oa_basic_settings_editor {
    border-bottom: 1px solid $edx-gray-d1;
    #openassessment_title_editor_wrapper{
      label{
        width: 25%;
        text-align: left;
      }
      input{
        width: 45%;
        min-width: 100px;
      }
    }
  }

  #openassessment_step_select_description{
    padding: 10px 10px 0 10px;
    text-align: center;
    font-size: 80%;
  }

  .openassessment_assessment_module_settings_editor.openassessment_shrink_for_drag{
    height: 40px;
  }

  .openassessment_assessment_module_settings_editor{
    padding: 5px;
    margin: 10px;
    border: 1px solid $edx-gray-l3;
    border-radius: 3px;
    position: relative;

    .drag-handle{
      position: absolute;
      background-color: $edx-gray-l4;
      background-position: center;
      display: block;
      top: 0px;
      right: 0px;
      z-index: 10;
      width: 15px;
      height: 100%;
      border-left: 1px solid $edx-gray-l3;
      cursor: move;
      @include transition(none);
    }

    .openassessment_description{
      padding: 0 20px 0 10px;
    }

  }

  .openassessment_assessment_module_settings_editor:hover {
    border-color: $blue;
    .drag-handle {
      background-color: #009fe6;
      border-color: #009fe6;
      @include transition(none);
    }
  }

  .openassessment_description{
    font-size: 75%;
    margin: 0;
  }

  .openassessment_description_closed{
     @extend .openassessment_description;
  }

  .openassessment_inclusion_wrapper{
    margin: 2.5px 5px;

    input[type="checkbox"]{
      display: none;
    }

    input[type="checkbox"] + label:before {
      font-family: "FontAwesome";
      display: inline-block;
      margin-right: ($baseline-h/4);
      width: auto;
      height: auto;
      content: "\f096";
    }

    input[type="checkbox"]:checked + label:before{
      content: "\f046";
      color: #009fe6;
    }
  }

  label{
    padding-right: 10px;
  }

  .xblock_actions {
     background-color: $edx-gray-l2;
     position: absolute;
     width: 100%;
     bottom: 0;
   }

  .ui-widget-header .ui-state-default{
    background: #e5e5e5;
    a{
      color: $edx-gray-d3;
      text-transform: uppercase;
      outline-color: transparent;
    }
  }

  .ui-widget-header .ui-state-active{
    background: $edx-gray-d3;
    color: $white;
    a{
      color: $white;
      text-transform: uppercase;
      outline-color: transparent;
    }
  }

  .openassessment_assessment_module_editor{
    padding: 2.5px 0px;
    .openassessment_description{
      padding-left: 15px;
    }
  }


  .ui-widget-header .ui-state-active:hover,
  .ui-widget-header .ui-state-default:hover{
    background: $edx-gray-l2;
  }

  #oa_rubric_editor_wrapper{

    .wrapper-comp-settings{
      display: initial;
    }

    #openassessment_rubric_instructions{
      background-color: $edx-gray-l2;
      border-bottom: 1px solid $edx-gray-d3;
      padding: 10px;
    }

    .openassessment_criterion {
      padding-bottom: 10px;

      .openassessment_criterion_remove_button{
        @extend .openassessment_rubric_remove_button;
      }

      .openassessment_criterion_header {
        margin: 10px;
        padding: 5px;
        border-bottom: 1px solid $edx-gray-d3;
        overflow: auto;

        .action.expand-collapse {
          float: left;
          .ui-toggle-expansion {
            color: $edx-gray-d3;
          }
        }

        .openassessment_criterion_header_title {
          text-transform: uppercase;
          width: 50%;
          display: inline-block;
          float: left;
        }

        .openassessment_criterion_header_remove {
          @extend .openassessment_rubric_remove_button
        }
      }

      .openassessment_criterion_add_option {
        h2:before {
          font-family: FontAwesome;
          content: "\f067";
          display: inline-block;
          margin: 0 5px;
        }
        background-color: $edx-gray-d1;
        padding: 5px;
        margin: 0px 10px 10px 10px;
        border-radius: 3px;
      }

      .openassessment_criterion_basic_editor{
        .comp-setting-entry{
          padding-right: 0;
          margin-right: 10px;
          overflow: auto;

          .wrapper-comp-settings{
            label{
              padding: 0;
              margin: 0;
              width: 100%;

              input{
                font-size: 11px;
                float: right;
                width: 70%;
              }
            }
            .openassessment_criterion_prompt{
              padding: 10px;
              @extend .openassessment_large_text_input;
              width: 70%;
              float: right;
            }
          }
        }
      }

      .openassessment_criterion_feedback_wrapper{

        .openassessment_criterion_feedback_header {
          background-color: $edx-gray-l2;
          padding: 5px;
          margin: 10px;
          border-radius: 3px;

        }

        label{
          width: 100%;
          select{
            float: right;
            margin-right: 24%;
          }
        }

        .openassessment_criterion_feedback_direction{
          label{
            margin-left: 15px;
          }
        }
      }
    }

    .openassessment_criterion.collapsed {
      .openassessment_criterion_body{
        display: none;
      }
      .openassessment_criterion_header{
        .action.expand-collapse {
          float: left;
          .ui-toggle-expansion {
            @include transform(rotate(-90deg));
            @include transform-origin(50% 50%);
            color: $edx-gray-d3;
          }
        }
      }
    }

    .openassessment_criterion_option{
      padding: 5px;

      .openassessment_criterion_option_remove_button{
        @extend .openassessment_rubric_remove_button;
      }

      .openassessment_option_header{
        background-color: $edx-gray-l2;
        padding: 5px 5px 5px 10px;
        margin: 5px 5px 8px 5px;
        border-radius: 3px;

        .openassessment_option_header_remove{
          @extend .openassessment_rubric_remove_button
        }
      }

      .openassessment_criterion_option_point_wrapper{
        width: 30%;
        border-top: none;
        padding: 5px 5px 5px 0px;
        float: left;
        margin: 0;

        .wrapper-comp-setting{
          min-width: 200px;
        }

        label{
          width: auto;
          padding-left: 15%;
          margin: 0;

          input{
            min-width: 50px;
            padding: 10px;
            float: right;
            width: 30%;
            font-size: 11px;
          }
        }


      }

      .openassessment_criterion_option_name_wrapper{
        float: left;
        width: 70%;
        padding: 5px 10px 5px 20px;
        border-top: 0;
        margin: 0;

        label{
          width: 100%;
          vertical-align: middle;
          padding: 0;
          margin: 0;

          input{
            padding: 10px;
            font-size: 11px;
            width: 56%;
            float: right;
          }
        }
      }

      .openassessment_criterion_option_explanation_wrapper{
        padding: 10px 5px 0px 20px;
        width: 100%;
        display: inline-block;
        margin: 0;

        label {
          width: 100%;
          text-align: left;
          margin: 0;

          textarea {
            padding: 10px;
            @extend .openassessment_input_styling;
            height: 70px;
            width: 69.5%;
            float: right;
          }
        }
      }
    }

    .openassessment_large_text_input{
      height: 70px;
      width: 70%;
      @extend .openassessment_input_styling;
    }

    .openassessment_input_styling{
      resize: none;
      box-sizing: border-box;
      border: 1px solid #b2b2b2;
      border-radius: 2px;
      padding: 6px 8px 8px;
      background-color: #f2f2f2;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      font-family: 'Open Sans', sans-serif;
      font-size: 11px;
      color: #4c4c4c;
      outline: 0;
    }

    .openassessment_rubric_remove_button{
      h2:after{
        font-family: FontAwesome;
        content: "\f00d";
        display: inline-block;
        color: inherit;
        margin: 0 5px;
      }
      h2{
        text-transform: uppercase;
        font-size: 80%;
        float: right;
        display: inline-block;
      }
      margin: 0 5px;
      float: right;
    }

    #openassessment_rubric_feedback_wrapper{
      padding: 0;

      #openassessment_rubric_feedback_header{
              background-color: $edx-gray-l2;
              padding: 5px 5px 5px 10px;
              margin: 10px 10px 0 10px;
              border-radius: 3px;
      }

      label{
        padding-top: 10px;
      }

      textarea{
        padding: 10px;
        @extend .openassessment_large_text_input;
        width: 70%;
        float: right;
      }
    }

    #openassessment_rubric_add_criterion{

      h6:before{
        font-family: "FontAwesome";
        display: inline-block;
        margin-left: 5px;
        margin-right: 10px;
        width: auto;
        height: auto;
        content: "\f067";
      }

      background-color: $edx-gray-d1;
      padding: 10px;
      margin: 10px, 0;
    }

  }

  hr{
    background-color: transparent;
    color: $edx-gray-d3;
    height: 1px;
    border: 0px;
    clear: both;
  }

}

//For Both of these, we use high specificity to overload the previous styles
//without the important tag.
.modal-lg.modal-window.confirm.openassessment_modal_window{
  height: 80%;
  top: 10%;
}

.openassessment_full_height.edit-xblock-modal,
.openassessment_full_height.xblock-editor,
.openassessment_full_height.xblock.xblock-studio_view.xblock-initialized,
[class*="view-"] .modal-lg.modal-editor .openassessment_full_height.modal-content
{
  height: 100%;
}

//---------------------------
// Developer Styles for Image Submission
//---------------------------

.step--response {

  .action--upload {
    @extend %btn--secondary;
    @extend %action-2;
    display: block;
    text-align: center;
    margin-bottom: ($baseline-v/2);
  }

  .file--upload {
    margin-top: $baseline-v/2;
    margin-bottom: $baseline-v/2;
  }
}

.submission--image {
  max-height: 600px;
  max-width: $max-width/2;
  margin-bottom: $baseline-v;
}

// Developer SASS for Continued Grading.
.openassessment__steps__step {
    .action--continue--grading {
      @extend .action--submit;
    }
}

