// openassessment: utilities - developer
// ====================

// NOTES:
// * use this area for any developer-needed or created styling that needs to be refactored into patterns or visually polished. Please list any template/view that your styles reference when definining them (example below):

// --------------------
// Views: Error
// --------------------
// .crazy-new-feature {
//   background: transparent;
// }

// --------------------
// Views: Counterbalancing XBlock workbench styling
// --------------------

// --------------------
// Views: Static HTML Page Display
// --------------------
.view--placeholder {
  background: $bg-view;
  margin: ($baseline-v*2) $baseline-h;
}

// --------------------
// Developer styles for Staff Section
// --------------------
.staff-info__student {
  .label {
    color: $heading-staff-color;
    margin-bottom: ($baseline-v/2);
  }

  .action--submit {
    @extend %btn--secondary;
    @extend %action-2;
    margin: ($baseline-v/2) ($baseline-v/2) ($baseline-v/2) ($baseline-v/2);
  }

  .title {
    @extend %hd-2;
    color: $heading-staff-color;
    margin-bottom: ($baseline-v/2);
  }

  .title--sub {
    color: $heading-staff-color;
    margin-top: ($baseline-v/2);
    margin-bottom: ($baseline-v/2);
  }

  .student__answer__display__content {
    border: 1px solid rgba($color-decorative-staff, 0.25);
    padding: ($baseline-v/2) ($baseline-h/2) ($baseline-v/2) ($baseline-h/2);
    margin-bottom: ($baseline-v/2);
  }

  .openassessment__student-info_list {
    list-style-type: none;
  }

  .value {
    width: $max-width/2;
  }

  /**
   * The follow styles are bound for the "shame" file. This is done to override
   * LMS specific styles on HTML elements.
   */

  // 'p' elements in LMS have a color set on them.
  .student__answer__display__content p {
    color: inherit;
  }
}

// --------------------
// Developer Styles for Student Training
// --------------------
.step--student-training {

  // submission
  .student-training__display {
    @extend %ui-subsection;
  }

  .student-training__display__header {
    @include clearfix();
  }

  .student-training__display__title {
    @extend %t-heading;
    margin-bottom: ($baseline-v/2);
    color: $heading-secondary-color;
  }

  .student-training__display__response {
    @extend %ui-subsection-content;
    @extend %copy-3;
    @extend %ui-content-longanswer;
    @extend %ui-well;
    color: $copy-color;
  }

  // assessment form
  .student-training__assessment {

    // fields
    .assessment__fields {
      margin-bottom: $baseline-v;
    }

    // rubric question
    .assessment__rubric__question {
      @extend %ui-rubric-question;
    }

    // rubric options
    .question__answers {
      @extend %ui-rubric-answers;
      overflow: visible; // needed for ui-hints
    }

    // genereal feedback question
    .assessment__rubric__question--feedback {

      textarea {
        @extend %ui-content-longanswer;
        min-height: ($baseline-v*5);
      }
    }
  }

  // TYPE: correct
  .message--correct {
    @extend .message--complete;
    margin-top: $baseline-v;

    &.is--hidden {
      height: 0;
      width: 0;
      padding: 0;
      margin: 0;

      .step__header {
        border-bottom: none;
      }
    }
  }

  // TYPE: incorrect
  .message--incorrect {
    @extend .message--incomplete;
    margin-top: $baseline-v;

    &.is--hidden {
      height: 0;
      width: 0;
      padding: 0;
      margin: 0;

      .step__header {
        border-bottom: none;
      }
    }
  }
}
// --------------------
// Developer Styles for Studio Editing of OA problems
// --------------------

#openassessment-editor {
  margin-bottom: 0;

  .openassessment-editor-content-and-tabs {
    width: 100%;
    height: 370px;
  }

  .openassessment-editor-header{
    background-color: #e5e5e5;
    width: 100%;
    top: 0;
  }

  #oa-editor-window-title{
    float: left;
  }

  .oa-editor-tab{
    float: right;
    padding: ($baseline-v/8) ($baseline-h/8);
    margin: ($baseline-v/8) ($baseline-h/8);
    border-radius: ($baseline-v/8);
    box-shadow: none;
    border: 0;
  }

  .oa-editor-content-wrapper {
    height: 100%;
    width: 100%;
    padding: ($baseline-v/4) ($baseline-h/4);
  }

  .openassessment-prompt-editor {
    width: 100%;
    height: 100%;
    resize: none;
  }

  .openassessment-rubric-editor {
    width: 100%;
    height: 100%;
  }

  .openassessment-assessments-editor {
    width: 100%;
  }

  #oa-settings-editor-text-fields {
  }

  #oa-settings-editor-wrapper {
    overflow-y: scroll;
  }

  #openassessment-title-editor {
    width: 300px;
    margin-left: 50px;
  }

  .openassessment-number-field{
    width: 25px;
  }

  .openassessment-date-field{
    width: 130px;
  }

  .openassessment-description{
    font-size: 75%;
  }

  .openassessment-text-field-wrapper{
    width: 50%;
    text-align: center;
  }

  .right-text-field-wrapper {
    float: right;
  }

  .left-text-field-wrapper {
    float: left;
  }

  .openassessment-due-date-editor{
    height: 30px;
  }

  .openassessment-inclusion-wrapper{
    background-color: $edx-gray-l3;
    input[type="checkbox"] {
    }
    padding: ($baseline-v/8) ($baseline-h/8);
    margin: ($baseline-v/8) ($baseline-h/8);
    border-radius: ($baseline-v)/8;
  }

  label{
    padding-right: 10px;
  }

  .xblock-actions {
     background-color: #e5e5e5;
     position: absolute;
     width: 100%;
     bottom: 0;
   }

  .peer-number-constraints{
    margin-bottom: 10px;
  }

  .ui-widget-header .ui-state-default{
    background: #e5e5e5;
    a{
      color: $edx-gray-d4;
      text-transform: uppercase;
      outline-color: transparent;
    }
  }

  .ui-widget-header .ui-state-active{
    background: $edx-gray-d3;
    color: $white;
    a{
      color: $white;
      text-transform: uppercase;
      outline-color: transparent;
    }
  }

  input[type="checkbox"]{
    display: none;
  }

  input[type="checkbox"] + label:before {
    font-family: "FontAwesome";
    display: inline-block;
    margin-right: ($baseline-h/4);
    width: auto;
    height: auto;
    content: "\f096";
  }

  input[type="checkbox"]:checked + label:before{
    content: "\f046";
  }

  hr {
    background-color: #d4d4d4;
    color: $edx-gray-d3;
    height: 1px;
    border: 0px;
    clear: both;
  }

}

.modal-content {
  height: 470px !important;
}

