{% load i18n %}
{% spaceless %}
<!--
  Hosts the frontend templates for both the new and old ORA experiences.
  If the new views are not enabled, `.ora-view` will be hidden, otherwise, `.ora-legacy-view`
  will be hidden.
-->
<div class="wrapper wrapper--xblock wrapper--openassessment theme--basic">
    <!--Template for legacy ORA UI (will not co-exist with .ora-view)-->
    <div class="openassessment problem" id="ora-legacy-view">
        <div class="wrapper--grid">
            {% if title %}
                <h3 class="openassessment__title problem__header">{% trans title %}</h3>
            {% endif %}

            <div class="wrapper-openassessment__message">

                {% block message %}
                <div class="openassessment__message message">
                    <div class="message__content">
                        <p>{% trans "This assignment has several steps. In the first step, you'll provide a response to the prompt. The other steps appear below the Your Response field." %}</p>
                    </div>
                </div>
                {% endblock %}
            </div>

            <ol class="openassessment__steps">
                {% for assessment in rubric_assessments %}
                    <li class="{{ assessment.class_id }} openassessment__steps__step is--loading">
                        <header class="step__header ui-slidable__container">
                            <h4 class="step__title">
                                <button class="ui-slidable" aria-expanded="false" aria-describedby="oa_step_status oa_step_deadline" disabled>
                                    <span class="step__counter"></span>
                                    <span class="wrapper--copy">
                                        <span class="step__label">{% trans assessment.title %}</span>
                                    </span>
                                </button>
                            </h4>
                            <span class="step__status">
                                <span id="oa_step_status" class="step__status__value">
                                  <span class="icon fa fa-spinner fa-spin" aria-hidden="true"></span>
                                  <span class="copy">{% trans "Loading" %}</span>
                                </span>
                            </span>
                        </header>
                    </li>
                {% endfor %}
            </ol>

            {% if show_staff_area %}
                <div class="openassessment__staff-area"></div>
            {% endif %}
        </div>
    </div>

    <!--Template for legacy ORA UI (will not co-exist with .ora-view)-->
    <div class="openassessment problem" id="ora-view">
        <iframe
          title="title"
          allow="microphone *; camera *; midi *; geolocation *; encrypted-media *, clipboard-write *"
          frameborder="0"
          src="http://localhost:1992/embedded/xblock/23"
          style="width: 100%; height: 100%"
        ></iframe>
        {% if leaderboard_ui_model %}
            <ol class="openassessment__steps">
                <li class="{{ leaderboard_ui_model.class_id }} openassessment__steps__step is--loading">
                    <header class="step__header ui-slidable__container">
                        <h4 class="step__title">
                            <button class="ui-slidable" aria-expanded="false" aria-describedby="oa_step_status oa_step_deadline" disabled>
                                <span class="step__counter"></span>
                                <span class="wrapper--copy">
                                    <span class="step__label">{% trans leaderboard_ui_model.title %}</span>
                                </span>
                            </button>
                        </h4>
                        <span class="step__status">
                            <span id="oa_step_status" class="step__status__value">
                              <span class="icon fa fa-spinner fa-spin" aria-hidden="true"></span>
                              <span class="copy">{% trans "Loading" %}</span>
                            </span>
                        </span>
                    </header>
                </li>
            </ol>
        {% endif %}
        <div class="wrapper--grid">
            {% if show_staff_area %}
                <div class="openassessment__staff-area"></div>
            {% endif %}
        </div>
    </div>
    <div class="sr reader-feedback" aria-live="polite"></div>
</div>
<script>
  const isMobile = window.navigator.userAgent.includes("org.edx.mobile");
  const mfe_views = ("{{mfe_views}}" === 'True') || isMobile;
  const toHide = mfe_views ? 'ora-legacy-view' : 'ora-view';
  document.getElementById(toHide).style.display = 'none';
</script>
{% endspaceless %}
