// xblock: elements - forms
// ====================

// NOTES:
// * basic form element (fields, fieldsets/wrappers, actions, and states) styling for all xblocks

// contains all form elements inside of the main xblock wrapper
.wrapper--xblock {

  // forms - general
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    border: 1px solid $color-decorative-secondary;
    padding: ($baseline-v/2);
    outline: 0;
    color: $selected-color;

    @include placeholder {
      color: $copy-supplemental-color-alt;
    }

    &:focus {
      box-shadow: 0 0 6px 0 rgba(29,157,217,0.4),inset 0 0 4px 0 rgba(0,0,0,0.15);
      border-color: $selected-color;
      outline: 0;
    }
  }

  .field {
    font-family: $f-copy;

    label, .label {
      @extend %copy-delta;
      display: block;
      margin-bottom: ($baseline-v/2);
      color: $copy-color;
    }

    textarea {
      width: 100%;
    }
  }
}

