// xblock: elements - forms
// ====================

// NOTES:
// * basic form element (fields, fieldsets/wrappers, actions, and states) styling for all xblocks

// contains all form elements inside of the main xblock wrapper
.wrapper--xblock {

  // forms - general
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea.text {
    border: 1px solid $color-decorative-secondary;
    padding: $spacing-charlie;
    font-family: $f-copy;
    outline: 0;

    @include placeholder {
      color: $copy-supplemental-color;
    }

    &:focus {
      box-shadow: 0 0 6px 0 rgba(29,157,217,0.4),inset 0 0 4px 0 rgba(0,0,0,0.15);
      border-color: $selected-color;
      outline: 0;
    }
  }
}

