// xblock: elements - typography
// ====================

// NOTES:
// * all typographical settings should be placed here for general xblocks use
// * typographical scale reference: 6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 21, 24, 36, 48, 60, 72


// --------------------
// weight
// --------------------
%t-weight0 {
  font-weight: 300;
}

%t-weight1 {
  font-weight: 400;
}

%t-weight2 {
  font-weight: 500;
}

%t-weight3 {
  font-weight: 600;
}

%t-weight4 {
  font-weight: 700;
}


// --------------------
// canned icon sizes
// --------------------
%t-icon-s {
  @include font-size(12);
}

%t-icon-m {
  @include font-size(16);
}

%t-icon-l {
  @include font-size(24);
}

%t-icon-xl {
  @include font-size(36);
}


// --------------------
// canned headings
// --------------------
%hd-alpha {
  @include font-size(48);
  @include lh(48);
  @extend %t-weight4;
  text-transform: uppercase;
  font-family: $f-title;
  letter-spacing: 0.50rem;
  color: $heading-primary-color;
}

%hd-bravo {
  @extend %t-weight2;
  @include font-size(24);
  @include lh(24);
  margin: 0 0 ($baseline-v/4) 0;
  font-family: $f-title;
  color: $heading-primary-color;
}

%hd-charlie {
  @extend %t-weight1;
  @include font-size(18);
  @include lh(18);
  margin: 0 0 ($baseline-v/2) 0;
  font-family: $f-title;
  color: $heading-primary-color;
}

%hd-charlie-alt {
  @extend %t-weight2;
  @include font-size(18);
  @include lh(18);
  margin: 0 0 ($baseline-v/4) 0;
  font-family: $f-title;
  color: $heading-color;
}

%hd-delta {
  @extend %t-weight1;
  @include font-size(16);
  @include lh(16);
  margin: 0 0 ($baseline-v/2) 0;
  text-transform: uppercase;
  font-family: $f-title;
  letter-spacing: 0.125rem;
  color: $heading-tertiary-color;
}

%hd-epsilon {
  @extend %t-weight1;
  @include font-size(14);
  @include lh(14);
  font-family: $f-title;
  color: $heading-secondary-color;
}

%hd-foxtrot {
  @extend %t-weight1;
  @include font-size(16);
  @include lh(16);
  margin: 0 0 ($baseline-v/10) 0;
  font-family: $f-title;
  color: $heading-secondary-color;
}

%hd-golf {
  @extend %t-weight1;
  @include font-size(14);
  @include lh(14);
  margin: 0 0 ($baseline-v/10) 0;
  text-transform: uppercase;
  font-family: $f-title;
  letter-spacing: 0.25rem;
  color: $heading-tertiary-color;
}

%hd-hotel {
  @include font-size(24);
  @include lh(24);
  @extend %t-weight4;
  text-transform: uppercase;
  font-family: $f-title;
  letter-spacing: 0.25rem;
  color: $heading-tertiary-color;
}


// --------------------
// canned copy
// --------------------
%copy-base {
  @extend %t-weight1;
  @include font-size(16);
  @include lh(16);
  font-family: $f-copy;
  color: $copy-color;
}

%copy-lead {
  @extend %t-weight0;
  @include font-size(24);
  @include lh(24);
  font-family: $f-copy;
  color: $copy-color;
}

%copy-showcase {
  @include font-size(18);
  @include lh(18);
  color: $copy-color;
  font-family: $f-copy;
}

%copy-detail {
  @include font-size(14);
  @include lh(14);
  font-family: $f-copy;
  color: $copy-color;
}

%copy-metadata {
  @include font-size(12);
  @include lh(12);
  font-family: $f-copy;
  color: $copy-supplemental-color;
}


// --------------------
// canned actions
// --------------------


// --------------------
// visual emphasis
// --------------------
%emphasis {
  font-style: normal;
}


%emphasis-alpha {
  @extend %emphasis;
  @extend %t-weight3;
}

%emphasis-bravo {
  @extend %emphasis;
  @extend %t-weight2;
}
