// xblock: elements - typography
// ====================

// NOTES:
// * all typographical settings should be placed here for general xblocks use
// * typographical scale reference: 6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 21, 24, 36, 48, 60, 72


// --------------------
// weight
// --------------------
%t-weight0 {
  font-weight: 300;
}

%t-weight1 {
  font-weight: 400;
}

%t-weight2 {
  font-weight: 500;
}

%t-weight3 {
  font-weight: 600;
}

%t-weight4 {
  font-weight: 700;
}

// --------------------
// titlecase
// --------------------
%t-titlecase {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}


// --------------------
// canned icon sizes
// --------------------
%t-icon-s {
  @include font-size(12);
}

%t-icon-m {
  @include font-size(16);
}

%t-icon-l {
  @include font-size(24);
}

%t-icon-xl {
  @include font-size(36);
}


// --------------------
// canned headings
// --------------------
%hd-1 {
  @extend %t-weight1;
  @extend %t-titlecase;
  @include font-size(24);
  @include lh(24);
  font-family: $f-title;
}

%hd-2 {
  @extend %t-weight3;
  @include font-size(21);
  @include lh(21);
  font-family: $f-title;
}

%hd-3 {
  @extend %t-weight1;
  @extend %t-titlecase;
  @include font-size(18);
  @include lh(18);
  font-family: $f-title;
}

%hd-4 {
  @extend %t-weight3;
  @include font-size(16);
  @include lh(16);
  font-family: $f-title;
}

%hd-5 {
  @extend %t-weight1;
  @extend %t-titlecase;
  @include font-size(16);
  @include lh(16);
  font-family: $f-title;
}

%hd-6 {
  @extend %t-weight3;
  @include font-size(16);
  @include lh(16);
  font-family: $f-title;
}

%hd-7 {
  @extend %t-weight1;
  @extend %t-titlecase;
  @include font-size(13);
  @include lh(13);
  font-family: $f-title;
}

%hd-8 {
  @extend %t-weight1;
  @include font-size(13);
  @include lh(13);
  font-family: $f-title;
}


// --------------------
// canned copy
// --------------------
%copy-1 {
  @extend %t-weight0;
  @include font-size(24);
  @include lh(24);
  font-family: $f-copy;
}

%copy-2 {
  @include font-size(18);
  @include lh(18);
  font-family: $f-copy;
}

%copy-3 {
  @extend %t-weight1;
  @include font-size(16);
  @include lh(16);
  font-family: $f-copy;
}

%copy-4 {
  @include font-size(14);
  @include lh(14);
  font-family: $f-copy;
}

%copy-5 {
  @include font-size(13);
  @include lh(13);
  font-family: $f-copy;
}

%copy-6 {
  @include font-size(12);
  @include lh(12);
  font-family: $f-copy;
}


// --------------------
// canned actions
// --------------------
%action-1 {
  @include font-size(18);
  @include lh(18);
  font-family: $f-action;
}

%action-2 {
  @include font-size(18);
  @include lh(18);
  font-family: $f-action;
}

%action-3 {
  @include font-size(16);
  @include lh(16);
  font-family: $f-action;
}

%action-4 {
  @include font-size(14);
  @include lh(14);
  font-family: $f-action;
}

%action-5 {
  @include font-size(12);
  @include lh(12);
  font-family: $f-action;
}


// --------------------
// visual emphasis
// --------------------
%emphasis {
  font-style: normal;
}

%emphasis-1 {
  @extend %emphasis;
  @extend %t-weight3;
}

%emphasis-2 {
  @extend %emphasis;
  @extend %t-weight2;
}
