// xblock: elements - typography
// ====================

// NOTES:
// * all typographical settings should be placed here for general xblocks use
// * typographical scale reference: 6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 21, 24, 36, 48, 60, 72


// --------------------
// weight
// --------------------
%t-weight0 {
  font-weight: 300;
}

%t-weight1 {
  font-weight: 400;
}

%t-weight2 {
  font-weight: 500;
}

%t-weight3 {
  font-weight: 600;
}

%t-weight4 {
  font-weight: 700;
}

// --------------------
// titlecase
// --------------------
%t-titlecase {
  text-transform: uppercase;
  letter-spacing: 0.025rem;
}


// --------------------
// canned icon sizes
// --------------------
%t-icon-s {
  @include font-size(12);
}

%t-icon-m {
  @include font-size(16);
}

%t-icon-l {
  @include font-size(24);
}

%t-icon-xl {
  @include font-size(36);
}


// --------------------
// canned headings
// --------------------
%hd-alpha {
  @extend %t-weight1;
  @extend %t-titlecase;
  @include font-size(24);
  @include lh(24);
  font-family: $f-title;
  color: $heading-primary-color;
}

%hd-bravo {
  @extend %t-weight3;
  @include font-size(21);
  @include lh(21);
  font-family: $f-title;
  color: $heading-primary-color;
}

%hd-charlie {
  @extend %t-weight1;
  @extend %t-titlecase;
  @include font-size(18);
  @include lh(18);
  font-family: $f-title;
  color: $heading-primary-color;
}

%hd-delta {
  @extend %t-weight3;
  @include font-size(16);
  @include lh(16);
  font-family: $f-title;
  color: $heading-primary-color;
}

%hd-epsilon {
  @extend %t-weight1;
  @extend %t-titlecase;
  @include font-size(16);
  @include lh(16);
  font-family: $f-title;
  color: $heading-secondary-color;
}

%hd-foxtrot {
  @extend %t-weight3;
  @include font-size(16);
  @include lh(16);
  font-family: $f-title;
  color: $heading-secondary-color;
}

%hd-golf {
  @extend %t-weight1;
  @extend %t-titlecase;
  @include font-size(13);
  @include lh(13);
  font-family: $f-title;
  color: $heading-tertiary-color;
}

%hd-hotel {
  @extend %t-weight1;
  @include font-size(13);
  @include lh(13);
  font-family: $f-title;
  color: $heading-tertiary-color;
}

%hd-india {
  @extend %t-weight1;
  @extend %t-titlecase;
  @include font-size(11);
  @include lh(11);
  font-family: $f-title;
  color: $heading-tertiary-color;
}


// --------------------
// canned copy
// --------------------
%copy-alpha {
  @extend %t-weight0;
  @include font-size(24);
  @include lh(24);
  font-family: $f-copy;
  color: $copy-color;
}

%copy-bravo {
  @include font-size(18);
  @include lh(18);
  color: $copy-color;
  font-family: $f-copy;
}

%copy-charlie {
  @extend %t-weight1;
  @include font-size(16);
  @include lh(16);
  font-family: $f-copy;
  color: $copy-color;
}

%copy-delta {
  @include font-size(14);
  @include lh(14);
  font-family: $f-copy;
  color: $copy-color;
}

%copy-epsilon {
  @include font-size(12);
  @include lh(12);
  font-family: $f-copy;
  color: $copy-supplemental-color;
}

%copy-foxtrot {
  @include font-size(11);
  @include lh(11);
  font-family: $f-copy;
  color: $copy-supplemental-color;
}


// --------------------
// canned actions
// --------------------


// --------------------
// visual emphasis
// --------------------
%emphasis {
  font-style: normal;
}

%emphasis-alpha {
  @extend %emphasis;
  @extend %t-weight3;
}

%emphasis-bravo {
  @extend %emphasis;
  @extend %t-weight2;
}
