{% load i18n %}

{% block list_item %}
<li id="openassessment__self-assessment" class="openassessment__steps__step step--self-assessment">
{% endblock %}
    <span class="system__element" id="self_submission_uuid">
        {{ self_submission.uuid }}
    </span>

    <header class="step__header ui-toggle-visibility__control">
        <h2 class="step__title">
            <span class="step__counter"></span>
            <span class="wrapper--copy">
                <span class="step__label">Assess Your Response</span>
                <span class="step__deadline">due <span class="date">{{ formatted_due_datetime }}</span></span>
            </span>
        </h2>

        {% block title %}
        <span class="step__status">
          <span class="step__status__label">This step's status:</span>
          <span class="step__status__value">
              <span class="copy">Grading</span>
          </span>
        </span>
        {% endblock %}
    </header>

    {% block body %}
    <div class="ui-toggle-visibility__content">
        <div class="step__content">
            <article class="self-assessment__display" id="self-assessment">
                <header class="self-assessment__display__header">
                    <h3 class="self-assessment__display__title">Your Submitted Response</h3>
                </header>

                <div class="self-assessment__display__response">
                    {{ self_submission.answer|linebreaks }}
                </div>
            </article>

            <form id="self-assessment--001__assessment" class="self-assessment__assessment" method="post">
                <fieldset class="assessment__fields">
                    <ol class="list list--fields assessment__rubric">
                        {% for criterion in rubric_criteria %}
                        <li class="field field--radio is--required assessment__rubric__question" id="assessment__rubric__question--{{ criterion.name }}">
                             <h4 class="question__title">
                                <i class="ico icon-caret-right"></i>
                                <span class="question__title__copy">{{ criterion.prompt }}</span>
                                <span class="label--required sr">* (Required)</span>
                            </h4>

                            <ol class="question__answers">
                                {% for option in criterion.options %}
                                <li class="answer">
                                    <div class="wrapper--input">
                                        <input type="radio"
                                               name="{{ criterion.name }}"
                                               id="assessment__rubric__question--{{ criterion.name }}__{{ option.name }}"
                                               class="answer__value"
                                               value="{{ option.name }}" />
                                        <label for="assessment__rubric__question--{{ criterion.name }}__{{ option.name }}"
                                               class="answer__label">{{ option.name }}</label>
                                    </div>
                                    <div class="wrapper--metadata">
                                        <span class="answer__tip">{{ option.explanation }}</span>
                                        <span class="answer__points">{{option.points}} <span class="label">points</span></span>
                                    </div>
                                </li>
                                {% endfor %}
                            </ol>
                        </li>
                        {% endfor %}

                    </ol>
                </fieldset>

                <div class="self-assessment__actions">
                    <ul class="list list--actions">
                        <li class="list--actions__item">
                            <button type="submit" id="self-assessment--001__assessment__submit" class="action action--submit">
                                <span class="copy">{% trans "Submit Your Assessment" %}</span>
                                <i class="ico icon-caret-right"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
</li>
