{%  extends "openassessmentblock/self/oa_self_assessment.html" %}
<!-- CASE: not started and problem closed -->
{% block list_item %}
<li id="openassessment__self-assessment" class="openassessment__steps__step step--self-assessment is--unavailable ui-toggle-visibility is--collapsed">
{% endblock %}
{% block title %}
    <span class="step__status">
      <span class="ico"><i class="fa fa-info-circle"></i></span>
      <span class="step__status__label">This step's status:</span>
      <span class="step_status_value">{{ step_status }}</span>
    </span>
{% endblock %}
{% block body %}{% endblock %}