{% load i18n %}

<div id="openassessment-editor" class="editor-with-buttons editor-with-tabs">
    <div class="openassessment_editor_content_and_tabs">

        <div id="openassessment_editor_header">
            <h6 id="oa_editor_window_title" class="title modal_window_title" >{% trans "Component: Open Response Problem" %}</h6>
            <ul class="editor_modes action_list action_modes editor_tabs">
                <li class="view-button oa_editor_tab"><a href="#oa_settings_editor_wrapper">{% trans "Settings" %}</a></li>
                <li class="view-button oa_editor_tab"><a href="#oa_rubric_editor_wrapper">{% trans "Rubric" %}</a></li>
                <li class="view-button oa_editor_tab"><a href="#oa_prompt_editor_wrapper">{% trans "Prompt" %}</a></li>
            </ul>
        </div>

        <div id = "oa_prompt_editor_wrapper" class="oa_editor_content_wrapper">
            <textarea id="openassessment_prompt_editor"></textarea>
        </div>

        <div id="oa_rubric_editor_wrapper" class="oa_editor_content_wrapper">

            <div id="openassessment_rubric_instructions">
                <p class = openassessment_description>
                    {% trans "For open response problems, assessment is rubric-based.  Rubric criterion have point breakdowns and explanations to help students with peer and self assessment steps. For more information on how to build your rubric, see our online help documentation."%}
                </p>
            </div>

            <ul id="openassessment_criterion_list" >
                <li class="openassessment_criterion" id="openassessment_criterion_1">
                    <div class="openassessment_criterion_header" id="openassessment_criterion_header_1">
                        <input class="openassessment_display_criterion>" id="openassessment_display_criterion_1" type="checkbox" checked="1">
                        <label class="openassessment_criterion_header_title" for="openassessment_display_criterion_1">
                            {% trans "Criterion C-C-C"%}
                        </label>
                        <div class="openassessment_rubric_remove_button" id="openassessment_criterion_1_remove">
                            <h2>{% trans "Remove" %}</h2>
                        </div>
                    </div>
                    <div class="openassessment_criterion_body" id="openassessment_criterion_body_1">
                        <div class="openassessment_line_input">
                            <label for="openassessment_criterion_1_name" class="openassessment_criterion_name_label">
                                {% trans "Criterion Name"%}
                            </label>
                            <input id="openassessment_criterion_1_name" class="openassessment_criterion_name" type="text">
                        </div>

                        <div class="openassessment_line_input">
                            <label for="openassessment_criterion_1_prompt" class="openassessment_criterion_prompt_label">
                                {% trans "Criterion Prompt"%}
                            </label>
                            <textarea id="openassessment_criterion_1_prompt" class="openassessment_criterion_prompt"></textarea>
                        </div>

                        <ul id="openassessment_criterion_1_options" class="openassessment_criterion_option_list">

                            <li id=openassessment_criterion_1_option_1 class="openassessment_criterion_option">

                                <div class="openassessment_option_header">
                                    <span class="openassessment_option_header_title">
                                        {% trans "Option O-O-O" %}
                                    </span>
                                    <div class="openassessment_rubric_remove_button" id="openassessment_criterion_1_option_1_remove">
                                        <h2>{% trans "Remove" %}</h2>
                                    </div>

                                </div>
                                <div class="openasssessment_line_input openassessment_criterion_option_point_wrapper">
                                    <label for="openassessment_criterion_1_option_1_points" class="openassessment_criterion_option_points_label">
                                        {% trans "Option Points"%}
                                    </label>
                                    <input id="openassessment_criterion_1_option_1_points" class="openassessment_criterion_option_points" type="number">
                                </div>
                                <div class="openasssessment_line_input openassessment_criterion_option_name_wrapper">
                                    <label for="openassessment_criterion_1_option_1_name" class="openassessment_criterion_option_name_label">
                                        {% trans "Option Name"%}
                                    </label>
                                    <input id="openassessment_criterion_1_option_1_name" class="openassessment_criterion_option_name" type="text">
                                </div>
                                <div class="openasssessment_line_input openassessment_criterion_option_explanation_wrapper">
                                    <label for="openassessment_criterion_1_option_1_explanation" class="openassessment_criterion_option_explanation_label">
                                        {% trans "Option Explanation"%}
                                    </label>
                                    <textarea id="openassessment_criterion_1_option_1_explanation" class="openassessment_criterion_option_explanation"></textarea>
                                </div>
                            </li>

                        </ul>

                        <div id="openassessment_criterion_1_add_option" class="openassessment_criterion_add_option openassessment_option_header">
                            <h2>{% trans "Add Another Option"%}</h2>
                        </div>

                        <hr>

                        <div id="openassessment_criterion_1_feedback_wrapper" class="openassessment_criterion_feedback_wrapper">

                            <div class="openassessment_criterion_feedback_header">
                                <span class="openassessment_criterion_feedback_header_open">{% trans "Criterion Feedback" %}</span>
                                <span class="openassessment_criterion_feedback_header_closed">{% trans "Add Criterion Feedback" %}</span>
                                <div class="openassessment_rubric_remove_button openassessment_feedback_remove_button" id="openassessment_criterion_1_feedback_remove">
                                    <h2>{% trans "Remove" %}</h2>
                                </div>
                            </div>

                            <div class="openassessment_line_input openassessment_criterion_feedback_direction">
                                <label for="openassessment_criterion_feedback">
                                    {% trans "Feedback Direction" %}
                                </label>
                                <textarea id="openassessment_criterion_feedback" class="openassessment_criterion_feedback"></textarea>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <div id="openassessment_rubric_add_criterion">
                <h2>
                    {% trans "Add Another Criterion"%}
                </h2>
            </div>

            <div id="openassessment_rubric_feedback_wrapper">
                <div id="openassessment_rubric_feedback_header">
                    <span>
                        {% trans "Rubric Feedback" %}
                    </span>
                    <div class="openassessment_rubric_remove_button" id="openassessment_rubric_direction_remove">
                        <h2>{% trans "Remove" %}</h2>
                    </div>
                </div>
                <div class="openassessment_line_input">
                    <label for="openassessment_rubric_feedback">
                        {% trans "Feedback Direction" %}
                    </label>
                    <textarea id="openassessment_rubric_feedback"></textarea>
                </div>
            </div>
            <div id="openassessment_make_invisible">
                <textarea id="openassessment_rubric_editor"></textarea>
            </div>
        </div>

        <div id="oa_settings_editor_wrapper" class="oa_editor_content_wrapper">

            <div id="oa_basic_settings_editor">
                <div id="openassessment_title_editor_wrapper">
                    <label for="openassessment_title_editor">{% trans "Display Name "%}</label>
                    <input type="text" id="openassessment_title_editor">
                </div>
                <p class="openassessment_description">{% trans "This name appears when you hover over the unit in the course ribbon at the top of the page." %}</p>
                <hr>
                <div class="openassessment_due_date_editor">
                    <div class="openassessment_left_text_field_wrapper">
                        <label for="openassessment_submission_start_editor">{% trans "Response Submission Start Date"%} </label>
                        <input type="text" class="openassessment_date_field" id="openassessment_submission_start_editor">
                    </div>
                    <div class="openassessment_right_text_field_wrapper">
                        <label for="openassessment_submission_due_editor">{% trans "Response Submission Due Date" %}</label>
                        <input type="text" class="openassessment_date_field" id="openassessment_submission_due_editor">
                    </div>
                </div>
            </div>

            <p class="openassessment_description" id="openassessment_step_select_description">
                {% trans "Select the steps that students must complete. All steps are optional, but every assignment must include at least one step." %}
            </p>

            <div class="openassessment_assessment_module_settings_editor" id="oa_student_training_editor">
                <div class = "openassessment_inclusion_wrapper">
                    <input type="checkbox" id="include_student_training">
                    <label for="include_student_training">{% trans "Step: Student Training" %}</label>
                </div>
                <p id="student_training_description_closed" class="openassessment_description_closed">
                    {% trans "Students learn to assess responses by scoring pre-assessed sample responses that the instructor provides. Students move to the next step when the scores they give match the instructor's scores." %}
                </p>
                <div id="student_training_settings_editor" class="assessment_settings_wrapper">
                    <p class="openassessment_description">
                        {% trans "Enter one or more sample responses that you've created, together with the scores you would give those responses. Be sure to format the responses and scores according to the placeholder text below." %}
                    </p>
                    <textarea id="student_training_examples"></textarea>
                </div>
            </div>

            <div class="openassessment_assessment_module_settings_editor" id="oa_peer_assessment_editor">
                <div class="openassessment_inclusion_wrapper">
                    <input type="checkbox" id="include_peer_assessment">
                    <label for="include_peer_assessment">{% trans "Step: Peer Assessment" %}</label>
                </div>
                <p id="peer_assessment_description_closed" class="openassessment_description_closed">
                    {% trans "Students assess a specified number of other students' responses using the rubric for the assignment." %}
                </p>
                <div id="peer_assessment_settings_editor" class="assessment_settings_wrapper">
                    <p class="openassessment_description">
                        {% trans "Specify the following values for the peer assessment step. The numeric grading requirements must be given a value." %}
                    </p>
                    <div class="openassessment_indent_line_input">
                        <label for="peer_assessment_must_grade" class="openassessment_peer_fixed_width">{% trans "Each student must assess X peer responses" %}</label>
                        <input id="peer_assessment_must_grade" class="openassessment_number_field" type="text">
                    </div>
                    <div class="openassessment_indent_line_input">
                        <label for="peer_assessment_graded_by" class="openassessment_peer_fixed_width"> {% trans "Each response must be assessed by at least X students" %}</label>
                        <input id="peer_assessment_graded_by" class="openassessment_number_field" type="text">
                    </div>
                    <div class="openassessment_due_date_editor">
                        <div class="openassessment_left_text_field_wrapper">
                            <label for="peer_assessment_start_date">{% trans "Start Date" %}</label>
                            <input id="peer_assessment_start_date" type="text" class="openassessment_date_field">
                        </div>
                        <div class="openassessment_right_text_field_wrapper">
                            <label for="peer_assessment_due_date">{% trans "Due Date" %}</label>
                            <input id="peer_assessment_due_date" type="text" class="openassessment_date_field">
                        </div>
                    </div>
                </div>
            </div>

            <div class="openassessment_assessment_module_settings_editor" id="oa_self_assessment_editor">
                <div class = "openassessment_inclusion_wrapper">
                    <input id="include_self_assessment" type="checkbox">
                    <label for="include_self_assessment">{% trans "Step: Self Assessment" %}</label>
                </div>
                <p id="self_assessment_description_closed" class="openassessment_description_closed">
                    {% trans "Students assess their own responses using the rubric for the assignment." %}
                </p>
                <div id="self_assessment_settings_editor" class="assessment_settings_wrapper">
                    <p class="openassessment_description">
                        {% trans "Specify start and due dates for the self assessment step. To allow self assessment to run as long as the assignment is open, leave both fields blank." %}
                    </p>
                    <div class="openassessment_due_date_editor">
                        <div class="openassessment_left_text_field_wrapper">
                            <label for="self_assessment_start_date">{% trans "Start Date" %}</label>
                            <input id="self_assessment_start_date" type="text" class="openassessment_date_field">
                        </div>
                        <div class="openassessment_right_text_field_wrapper">
                            <label for="self_assessment_due_date">{% trans "Due Date" %}</label>
                            <input id="self_assessment_due_date" type="text" class="openassessment_date_field">
                        </div>
                    </div>
                </div>
            </div>

            <div class="openassessment_assessment_module_settings_editor" id="oa_ai_assessment_editor">
                <div class = "openassessment_inclusion_wrapper">
                    <input id="include_ai_assessment" type="checkbox">
                    <label for="include_ai_assessment">{% trans "Step: Example-Based Assessment" %}</label>
                </div>
                <p id="ai_assessment_description_closed" class="openassessment_description_closed">
                    {% trans "An algorithm assesses students' responses by comparing the responses to pre-assessed sample responses that the instructor provides."%}
                </p>
                <div id="ai_assessment_settings_editor" class="assessment_settings_wrapper">
                    <p class="openassessment_description">
                        {% trans "Enter one or more sample responses that you've created, together with the scores you would give those responses. Be sure to format the responses and scores according to the placeholder text below. The algorithm assesses students' responses by comparing them to the sample responses and scores that you provide."%}
                    </p>
                    <label for="ai_training_examples">{% trans "Sample Responses" %}</label>
                    <textarea id="ai_training_examples"></textarea>
                </div>
            </div>

        </div>
    </div>

    <div class="openassessment_editor_buttons xblock-actions">
        <h3 class="sr">Actions</h3>
        <ul>
            <li class="action-item">
                <a href="#" class="button action-primary openassessment_save_button">{% trans "Save" %}</a>
            </li>

            <li class="action-item">
                <a href="#" class="button openassessment_cancel_button">{% trans "Cancel" %}</a>
            </li>
        </ul>
    </div>

</div>
