{% spaceless %}
{% load i18n %}
{% load oa_extras %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/prism.css' %}">
<script src="{% static 'js/prism.js' %}"></script>


<ol class="submission__answer__display__content" >

    <li>
        <h5 class="submission__answer__part__text__title">
            {{answer_text_label}}
        </h5>

        <pre>
            <code  class="{% if code_language %}{{code_language}}{% else %} {% endif %}">{{answer.parts.0}}</code>
        </pre>
    </li>

    <li>
        {% trans "Your Output" as code_output_label %}
        {% trans "Expected Output" as expected_output_label %}
        {% include "openassessmentblock/render_submission_details.html" with response=answer.parts.1 student_output_header=code_output_label expected_output_header=expected_output_label%}
    </li>

    {% if staff_view %}
        <li>
            {% trans "Staff Test Case Output" as code_output_label %}
            {% trans "Expected Test Case Output" as expected_output_label %}
            {% include "openassessmentblock/render_submission_details.html" with response=answer.parts.2 student_output_header=code_output_label expected_output_header=expected_output_label%}
        </li>
    {% endif %}
</ol>
{% endspaceless %}
