{% spaceless %}
{% load i18n %}
{% load oa_extras %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/prism.css' %}">
<script src="{% static 'js/prism.js' %}"></script>


<ol class="submission__answer__display__content" >

    <li>
        <h5 class="submission__answer__part__text__title">
            {{answer_text_label}}
        </h5>

        <pre>
            <code  class="{% if code_language %}{{code_language}}{% else %} {% endif %}">{{answer.submission}}</code>
        </pre>
    </li>

    {% if design_problem %}

        <p>{{answer.sample_run.output}}</p>

    {% else %}

        {% if staff_view %}
            <li class="list_item">
                <h2 style="text-align:center">Result Summary</h2>
                <br>
                <div>
                    <p class="bold_text">Total Test Cases: {{total_tests}}</p>
                    <p class="bold_text">Passed Test Cases: {{tests_passed}}</p>
                    <p class="bold_text">Percentage Correctness: {{result_percentage}}%</p>
                </div>
            </li>
            <br>
        {% endif %}
        <li class="list_item">
            {% trans "Test Case Result Breakdown" as header_content %}
            {% trans "Your Output" as code_output_label %}
            {% trans "Expected Output" as expected_output_label %}
            {% include "openassessmentblock/render_submission_details.html" with response=answer.sample_run student_output_header=code_output_label expected_output_header=expected_output_label header_content=header_content%}
        </li>

        {% if staff_view %}
        <br>
            <li class="list_item">
                {% trans "Staff Test Case Result Breakdown" as header_content %}
                {% trans "Staff Test Case Output" as code_output_label %}
                {% trans "Expected Test Case Output" as expected_output_label %}
                {% include "openassessmentblock/render_submission_details.html" with response=answer.staff_run student_output_header=code_output_label expected_output_header=expected_output_label header_content=header_content%}
            </li>
        {% endif %}

    {% endif %}
</ol>
{% endspaceless %}
