{% spaceless %}
{% load i18n %}
{% load oa_extras %}

<div>
    <h2 style="text-align:center">{{header_content}}</h2>
    {% if response.error %}
        <div class="submission__answer__part__text__value" style="outline: 3px solid red;"> {{response.error|escape|linebreaksbr}}</div>
    {% else %}
        <p class="bold_text">Tests Result: Passed {{response.correct}} out of {{response.total_tests}} test cases</p>
    <div style="display: flex;flex-direction: row;">
        <span class="bold_text" style="display: inline-block; width:33%; ">Test Input</span>
        <span class="bold_text" style="display: inline-block; width:33%; ">{{student_output_header}}</span>
        <span class="bold_text" style="display: inline-block; width:33%; ">{{expected_output_header}}</span>
    </div>
    <br/>
        {% for key, value in response.output.items %}
            <div style="display: flex;flex-direction: row; outline:3px solid {%if value.correct%}green{%else%}red{%endif%}" >
                <span style="display: inline-block; width:33%;" class="submission__answer__part__text__value"> {{value.test_input|escape|linebreaksbr}}</span>
                <span style="display: inline-block; width:33%;" class="submission__answer__part__text__value"> {{value.actual_output|escape|linebreaksbr}}</span>
                <span style="display: inline-block; width:34%;" class="submission__answer__part__text__value">{{value.expected_output|escape|linebreaksbr}}</span>
            </div>
            <br/>
        {% endfor %}

    {%  endif %}
</div>
{% endspaceless %}
