{% load i18n %}

<li id="openassessment__staff-assessment" class="openassessment__steps__step step--staff-assessment">
    <header class="step__header">
        <h2 class="step__title">
            <span class="step__counter"></span>
            <span class="wrapper--copy">
                <span class="step__label">{% trans "Staff Grade" %} </span>
            </span>
        </h2>

        <span class="step__status">
          <span class="step__status__label">{% trans "This step's status" %}:</span>
          <span class="step__status__value">
            <i class="icon fa fa-check" aria-hidden="true"></i>
            <span class="copy">
                {% trans "Complete" %}
            </span>
          </span>
        </span>
    </header>

    <div class="wrapper--step__content">

        <div class="step__message message message--incomplete">
            <h3 class="message__title">{% trans "You Must Complete the Above Steps to View Your Grade" %}</h3>

            <div class="message__content">
              <p>{% trans "Although a course staff member has assessed your response, you will receive your grade only after you have completed all the required steps of this problem." %}</p>
            </div>
        </div>
    </div>
</div>
</li>
