{% load i18n %}

<li id="openassessment__staff-assessment" class="openassessment__steps__step step--staff-assessment is--empty is--unavailable is--collapsed">
    <header class="step__header">
        <h2 class="step__title">
            <span class="step__counter"></span>
            <span class="wrapper--copy">
                <span class="step__label">{% trans "Staff Grade" %} </span>
            </span>
        </h2>

        <span class="step__status">
          <span class="step__status__label">{% trans "This step's status" %}:</span>
          <span class="step__status__value">
            <span class="copy">{% trans "Not Available" %}</span>
          </span>
        </span>
    </header>
</li>
