# Version constraints for pip-installation.

-c common_constraints.txt

# Test dependencies
ddt==1.0.0                          # Test failures at versions > 1.0.0
freezegun<=0.3.14                   # Test failures on 0.3.15
pylint-django<2.6.0                 # Quality fails with infinite recursion errors
# Moto latest version has breaking changes. Needs the tests to be fixed.
moto<5.0

# backports.zoneinfo is only needed for Python < 3.9
backports.zoneinfo; python_version<'3.9'
