# Version constraints for pip-installation.

# This packages is a backport which can only be installed on Python 2.7
futures==3.3.0 ; python_version == "2.7"

# Base dependencies
bleach<=2.1.4                      # Constrained by edx-platform/edx-enterprise/lti_consumer-xblock
boto<=2.39.0                       # Constrained by edx-platform and its dependencies.
defusedxml<=0.5.0                  # Constrained by edx-platform and its dependencies.
django-model-utils==3.0.0          # Constrained by edx-platform and its dependencies.
Django<1.12                        # Constrained by edx-platform 
fs<=2.0.18                         # Constrained by edx-platform/XBlock
jsonfield<3.0.0
loremipsum<2.0.0
python-dateutil<=2.4.0             # Constrained by edx-platform and its dependencies.
python-swiftclient<4.0.0
voluptuous<1.0.0

# Test dependencies
ddt==1.0.0                          # Test failures at versions > 1.0.0
# Dropped Python 2.x compatibility after 5.0.0
more-itertools<6.0.0 ; python_version == "2.7"
moto==0.4.31                        # Pinned to avoid test failures
