// edX theme: assets
// ====================

// NOTES:
// * This is where any edX-theme related assets (fonts, graphics/sprites, and animations) are defined


// --------------------
// font: Open Sans - http://www.google.com/fonts/specimen/Open+Sans
// --------------------
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);


// --------------------
// EXAMPLE: image - edX logo
// --------------------
// $logo--edx: '../images/logo--edx.png';
