{% extends "oa_response.html" %}
{% block list_item %}
<li id="openassessment__response" class="openassessment__steps__step step--response is--submitted is--unavailable ui-toggle-visibility">
{% endblock %}
{% block body %}
    <div class="step__content">
        <!-- user's response -->
        <article class="submission__answer__display">
            <h3 class="submission__answer__display__title">Your Submitted Response</h3>

            <div class="submission__answer__display__content">
                {{ student_submission.answer }}
            </div>
        </article>
    </div>
{% endblock %}