name: Upgrade Requirements

on:
  schedule:
    # will start the job at 15:15 UTC every other week starting on the 4th of the month
    - cron: "15 15 4/14 * *"
  workflow_dispatch:
    inputs:
      branch:
        description: "Target branch to create requirements PR against"
        required: true
        default: 'master'

jobs:
  upgrade_requirements:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        python-version: ["3.8"]

    steps:
      - name: setup target branch
        run: echo "target_branch=$(if ['${{ github.event.inputs.branch }}' = '']; then echo 'master'; else echo '${{ github.event.inputs.branch }}'; fi)" >> $GITHUB_ENV

      - uses: actions/checkout@v1
        with:
          ref: ${{ env.target_branch }}
      
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: make upgrade
        run: |
          cd $GITHUB_WORKSPACE
          make upgrade

      - name: setup testeng-ci
        run: |
          git clone https://github.com/edx/testeng-ci.git
          cd $GITHUB_WORKSPACE/testeng-ci
          git checkout origin/matthugs/set-output-of-created-PR-for-github-actions
          pip install -r requirements/base.txt
      - name: create pull request
        id: createpullrequest
        env:
          GITHUB_TOKEN: ${{ secrets.REQUIREMENTS_BOT_GITHUB_TOKEN }}
          GITHUB_USER_EMAIL: ${{ secrets.REQUIREMENTS_BOT_GITHUB_EMAIL }}
        run: | 
          cd $GITHUB_WORKSPACE/testeng-ci
          python -m jenkins.pull_request_creator --repo-root=$GITHUB_WORKSPACE \
          --target-branch="${{ env.target_branch }}" --base-branch-name="upgrade-python-requirements" \
          --commit-message="chore: Updating Python Requirements" --pr-title="Python Requirements Update" \
          --pr-body="Python requirements update.Please review the [changelogs](https://openedx.atlassian.net/wiki/spaces/TE/pages/1001521320/Python+Package+Changelogs) for the upgraded packages." \
          --user-reviewers="" --team-reviewers="masters-devs-gta" --delete-old-pull-requests

      - name: see if output from previous attempt worked
        run: |
          echo "is this empty: ${{ steps.createpullrequest.outputs.generated_pr }}"